<a
        href="#user/list"
        id="nav-user"
        data-url="{{ path('open_orchestra_api_user_list') }}"
        data-displayed-elements="username, groups"
        data-translated-header="{{'open_orchestra_user_admin.table.username'|trans }},{{'open_orchestra_user_admin.table.groups'|trans }}"
        title="{{ 'open_orchestra_user_admin.left_menu.administration.user.list'|trans }}"
        >
    {{ 'open_orchestra_user_admin.left_menu.administration.user.list'|trans }}
</a>
