{##
 # This file is part of the PHPOrchestra\CMSBundle.
 #
 # @author Noël Gilain <noel.gilain@businessdecision.com>
 ##}

<html>
    <head>
        <title>{% block title %}{{ node.name }}{% endblock %}</title>
        {% block stylesheets %}
            {{ phpOrchestraCss(node.theme) }}
        {% endblock %}
        {% stylesheets
            '@PHPOrchestraFrontBundle/Resources/public/css/jquery-ui.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% javascripts
            '@PHPOrchestraFrontBundle/Resources/public/js/libs/jquery-2.0.2.min.js'
            '@PHPOrchestraFrontBundle/Resources/public/js/libs/jquery-ui-1.10.3.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        <div id="orchestra">
            <span>datetime : {{ datetime }}</span>
            <div id="orchestra-main">
        {% for area in node.areas %}
            {% include "PHPOrchestraFrontBundle:Node:area.html.twig" with {"area": area, 'nodeId': node.nodeId } only %}
        {% endfor %}
            </div>
        </div>
        
        {% block javascripts %}
            {{ phpOrchestraJs(node.theme) }}
        {% endblock %}
    </body>
</html>
