{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block form %}
    {% spaceless %}
        {% if false == form.vars.valid %}
            <div class="alert alert-danger">
                {{ 'open_orchestra_backoffice.form.global_error'|trans }}
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endspaceless %}
{% endblock form %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="smart-form">
            <label class="toggle display-normal">
                {{ parent() }}
                <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
            </label>
        </div>
    {% endspaceless %}
{% endblock %}

{% block radio_widget %}
    {% spaceless %}
        <div class="smart-form">
            <label class="toggle display-normal">
                {{ parent() }}
                <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
            </label>
        </div>
    {% endspaceless %}
{% endblock %}

{% block column_layout_row_widget %}
    {% spaceless %}
        <div class="col-lg-11 col-lg-offset-1">
            <div class="form-group">
                <label class="control-label">{{ 'open_orchestra_backoffice.form.area_flex.layout.select_layout'|trans }}</label>
                <ul class="list-inline layout-options">
                    <li class="text-hide" data-layout="1">1</li>
                    <li class="text-hide" data-layout="1,1">1,1</li>
                    <li class="text-hide" data-layout="2,1">2,1</li>
                    <li class="text-hide" data-layout="1,1,1">1,1,1</li>
                    <li class="text-hide" data-layout="1,3">1,3</li>
                    <li class="text-hide" data-layout="4,1">4,1</li>
                    <li class="text-hide" data-layout="1,1,1,1,1,1">1,1,1,1,1,1</li>
                    <li class="text-hide" data-layout="1,4,1">1,4,1</li>
                    <li class="text-hide" data-layout="1,1,1,3">1,1,1,3</li>
                </ul>
            </div>

            {% set attr = attr|merge({ 'style': 'vertical'}) %}
            {{ block('form_rows') }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block oo_translated_value_collection_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                {% for key, field in form %}
                   {% if attribute(field.children, 'value') is defined %}
                   <li {% if loop.first %}class="active" {% endif %}>
                        <a href="#tab-{{ form.vars.id }}-{{ key }}" role="tab" data-toggle="tab">
                            <img
                                src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/blank.gif') }}"
                                class="flag flag-{{ field.vars.value.language }}"
                                alt="{{ ('open_orchestra_backoffice.language.' ~ field.vars.value.language)|trans }}"
                            >
                            {{ form_label(field.value) }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for key, field in form %}
                   {% if attribute(field.children, 'value') is defined %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab-{{ form.vars.id }}-{{ key }}">
                        <div class="form-group{% if field.value.vars.errors|length > 0 %} has-error{% endif %}">
                            {{ form_widget(field.value) }}
                            {{ form_rest(field) }}
                            {{ form_errors(field.value) }}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
        {% set label_col = label_col|default(bootstrap_get_label_col()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}
        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% if label is sameas(false) %}
            {% set widget_col = widget_col + label_col %}
        {% endif %}

        <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
            {% if style == 'horizontal' %}
                {{ form_label(form) }}
                <div class="col-{{ col_size }}-{{ widget_col }}">
                    {{ block('form_help') }}
                    {{ block('form_input_group') }}
                    {{ form_errors(form) }}
                </div>
            {% else %}
                {{ form_label(form) }}
                {{ block('form_help') }}
                {{ block('form_input_group') }}
                {{ form_errors(form) }}
            {% endif %}
        </div>

        {% if style == 'inline' %}&nbsp;{% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {{ block('form_row') }}
{% endblock checkbox_row %}

{% block radio_row %}
    {{ block('form_row') }}
{% endblock radio_row %}

{% block choice_widget_options %}
    {% if form.vars.attr.class is defined and form.vars.attr.class == 'orchestra-node-choice' %}
        {% spaceless %}
            {% for group_label, choice in options %}
                {% if choice is iterable %}
                    <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                        {% set options = choice %}
                        {{ block('choice_widget_options') }}
                    </optgroup>
                {% else %}
                    <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain)|raw }}</option>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock choice_widget_options %}

{% block form_help %}
    {% spaceless %}
        {% if attr.help_text is defined and attr.help_text is not empty %}
            {% set help_text = attr.help_text|trans({}, translation_domain)|raw %}
            <i class='icon-prepend fa fa-question-circle helper-block' rel="tooltip" data-placement="top" data-original-title="{{ help_text }}"></i>
        {% endif %}
    {% endspaceless %}
{% endblock form_help %}

{% block widget_attributes %}
{% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif attrname in ['input_group'] %}{% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
        {% for attrname, attrvalue in label_attr %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_end %}
    {% if form_legend is not defined or form_legend == true %}
        <div class="form-group">
            <div class="col-lg-12">
                {{ block('form_legend') }}
            </div>
        </div>
    {% endif %}
    {% if no_submit_button is not defined or no_submit_button != true %}
        {% spaceless %}
            <div class="form-group">
                <div class="col-lg-12">
                    {% set label = 'open_orchestra_backoffice.form.submit' %}
                    {% set attr = {'class': 'submit_form'} %}
                    {% set id = 'submit_' ~ form.vars.name %}
                    {{ block('submit_widget') }}
                </div>
            </div>
            {{ parent() }}
        {% endspaceless %}
    {% endif %}
{% endblock form_end %}
{% block oo_date_picker_widget %}
    {% spaceless %}
        {% if form.vars.widget == 'single_text' %}
            <div class="input-group">
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' datepicker')|trim, 'data-dateformat': form.vars.format|default('yyyy-mm-dd')|lower }) %}
        {% endif %}
        {{ block('date_widget') }}
        {% if form.vars.widget == 'single_text' %}
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock oo_date_picker_widget %}
{% block form_legend %}
    <div class="help-block">
        <p>* {{ 'open_orchestra_backoffice.form.orchestra_fields.required_field' | trans }}</p>
        {% if form_legend_helper is defined and form_legend_helper is not empty %}
            <p>** {{ form_legend_helper | trans }}</p>
        {% endif %}
    </div>
{% endblock form_legend %}

{% block oo_tinymce_widget %}
      {{ block('textarea_widget') }}
      <div
          id="modal_internal_link_{{ id }}"
          data-url="{{ path('open_orchestra_backoffice_internal_link_form') }}"
      ></div>
{% endblock %}

{% block oo_internal_link_widget %}
	{% set refresh %}
        <span rel="tooltip" class="btn btn-ribbon refresh-form">
        	<i class="fa fa-refresh"></i>
        </span>
	{% endset %}
    {% set attr = form.children.contentSearch.vars|merge({ 'label': form.children.contentSearch.vars.label|trans ~ refresh }) %}
    {% spaceless %}
      {{ form_row(form.children.nodeId) }}
      {{ form_row(form.children.contentSearch, attr) }}
      {{ form_row(form.children.siteId) }}
      {{ form_row(form.children.query) }}
    {% endspaceless %}
{% endblock %}
