{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block on_off_widget %}
    {% spaceless %}
        <div class="smart-form">
            <label class="toggle pull-left">
                {{ block('checkbox_widget') }}
                <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
            </label>
        </div>
    {% endspaceless %}
{% endblock %}

{% block orchestra_status_widget %}
    {% spaceless %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}

        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% endif %} value="">{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {% for group_label, choice in options %}
                {% if choice is iterable %}
                    <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                        {% set options = choice %}
                        {{ block('choice_widget_options') }}
                    </optgroup>
                {% else %}
                    <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label| trans_choose }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endspaceless %}
{% endblock %}

{% block translated_value_collection_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                {% for key, field in form %}
                    <li {% if loop.first %}class="active" {% endif %}>
                        <a href="#tab-{{ form.vars.id }}-{{ key }}" role="tab" data-toggle="tab">
                            <img
                                src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/blank.gif') }}"
                                class="flag flag-{{ field.vars.value.language }}"
                                alt="{{ ('open_orchestra_backoffice.language.' ~ field.vars.value.language)|trans }}"
                            >
                            {{ form_label(field.value) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for key, field in form %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab-{{ form.vars.id }}-{{ key }}">
                        <div class="form-group">
                            {{ form_widget(field.value) }}
                            {{ form_rest(field) }}
                            {{ form_errors(field) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block orchestra_media_widget %}
    {% spaceless %}
        {% set type = 'hidden' %}
        {{ block('form_widget') }}&nbsp;
        <div class="btn">
            <a class="btn btn-default mediaModalOpen" data-target="{{ id }}_modal">
                <i class="fa fa-folder-open-o"></i> {{ 'open_orchestra_backoffice.left_menu.editorial.mediatheque'|trans({'language':context.currentLocale}) }}
            </a><br />
            <button class="btn btn-warning clear-media" data-input="{{ id }}">
                Delete
            </button>
        </div>
        &nbsp;
        {% set src= media_preview(value) %}
        <img height="100px" {% if src != '' %}src="{{ src }}"{% endif %} id="previewImage_{{ id }}" class="previewImage" />
        {% include 'OpenOrchestraBackofficeBundle:Mediatheque:media_modal.html.twig' %}
    {% endspaceless %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}
        {% set widget_name = widget_col|default('form_input_group') %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
            {% if label is sameas(false) and label_col is defined %}
                {% set widget_col = widget_col + label_col %}
            {% endif %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}
        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}

        <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
            {% if style == 'horizontal' %}
                {{ form_label(form) }}
                <div class="col-{{ col_size }}-{{ widget_col }}">
                    {{ block(widget_name) }}
                    {{ block('form_help') }}
                    {{ form_errors(form) }}
                </div>
            {% else %}
                {{ form_label(form) }}
                {{ block(widget_name) }}
                {{ block('form_help') }}
                {{ form_errors(form) }}
            {% endif %}
        </div>

        {% if style == 'inline' %}&nbsp;{% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {{ form_row(form, { 'widget_name': 'checkbox_widget' }) }}
{% endblock checkbox_row %}

{% block radio_row %}
    {{ form_row(form, { 'widget_name': 'radio_widget' }) }}
{% endblock radio_row %}

{% block orchestra_node_choice_widget %}
    {% spaceless %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}

        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% endif %} value="">{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('orchestra_node_choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock orchestra_node_choice_widget %}

{% block orchestra_node_choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain)|raw }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock orchestra_node_choice_widget_options %}

