{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block form %}
    {% spaceless %}
        {% if false == form.vars.valid %}
            <div class="alert alert-danger">
                {{ 'open_orchestra_backoffice.form.global_error'|trans }}
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endspaceless %}
{% endblock form %}

{% block form_widget %}
    {% set groups  = [] %}
    {% if form.vars.group_enabled is defined and true == form.vars.group_enabled %}
        {%  set active = -1 %}
        {% for group in form.vars.group %}
            {% set err = false %}
            {% set req = false %}
            {% set group_name = '' %}
            {% set rank = loop.index0 %}
            {% set group_label  = '' %}
            {%  set current_group %}
                {% for subgroup in group %}
                    {% set subgroup_html %}
                        {% set group_label = subgroup.group_label %}
                        {% set group_name = subgroup.group_name %}
                        {% for child in subgroup.children %}
                            {{ form_row(form[child]) }}
                            {% set err = err or not form[child].vars.valid %}
                            {% set req = req or (form[child].vars.required is defined and form[child].vars.required) %}
                            {% set active = (active == -1 and err) ? rank : active %}
                        {% endfor %}
                    {% endset %}
                    {% if subgroup.sub_group_label != constant('OpenOrchestra\\Backoffice\\Form\\Type\\Extension\\FormTypeGroupExtension::DEFAULT_SUB_GROUP') %}
                    <fieldset>
                        <legend class="underline-label">{{ subgroup.sub_group_label|trans }}</legend>
                        {{ subgroup_html }}
                    </fieldset>
                    {% else %}
                        {{ subgroup_html }}
                    {% endif %}
                {% endfor %}
            {% endset %}
            {% set groups = groups|merge([{'group_name': group_name,'label': group_label, 'html': current_group, 'err': err, 'req': req}]) %}
        {% endfor %}
        {% set active = (active == -1) ? 0 : active %}
    <ul role="tablist" class="nav nav-tabs">
        {% for group in groups %}
            <li class="{% if active == loop.index0 %}active{% endif %}">
                <a data-toggle="tab" role="tab" href="#tab-{{ form.vars.name }}-{{ loop.index0 }}" class="{% if group.err %}has-error{% endif %}{% if group.req %} required{% endif %}">
                    {{ group.label|default(loop.index0)|trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for group in groups %}
            <div id="tab-{{ form.vars.name }}-{{ loop.index0 }}" class="tab-pane{% if active == loop.index0 %} active{% endif %}{% if group.group_name != '' %} tab-{{ group.group_name }} {% endif %}">
                {{ group.html }}
            </div>
        {% endfor %}
    </div>
{% else %}
    {{ parent() }}
    {% endif %}
{% endblock %}


{% block choice_widget %}
    {% spaceless %}
        {% if expanded and multiple %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    {{ checkbox_row(child, { 'no_form_group': true, 'inline' : (attr.inline is defined and attr.inline), 'label_attr': label_attr, 'form_group_col': 6 }) }}
                {% endfor %}
            </div>
        {% else %}
            <div class="styled-select">
            {{ parent() }}
          </div>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block oo_group_list_widget %}
    {% spaceless %}
        <div class="user-groups-list">
        	<table class="table table-striped">
        		<tbody>
            {% for child in form['groups_collection'] %}
            	{{ form_widget(child) }}
            {% endfor %}
				</tbody>
            </table>
            <div class="prototype" data-prototype="{{ form_widget(form['groups_collection'].vars.prototype)|e('html') }}"></div>
            <div>
            	<button class="open-groups-list btn btn-primary" type="button">{{ 'open_orchestra_backoffice.form.add'|trans }}</button>
            </div>
        </div>
    {% endspaceless %}
{% endblock oo_group_list_widget %}

{% block oo_group_widget %}
	<tr>
	    <td><div class="hide">{{ form_widget(form) }}</div>{{ form.vars.parameters['groupName'] }}</td>
	    <td>{{ form.vars.parameters['siteName'] }}</td>
	    <td>{% if form.vars.parameters['disabled'] %}&nbsp;{%  else %}<i class="fa fa-close" aria-hidden="true"></i>{% endif %}</td>
	</tr>
{% endblock oo_group_widget %}

{% block oo_language_by_sites_widget %}
    {% spaceless %}
        <div class="contribution">
            <table class="table table-striped table-language scrollable">
                {% set child = form|first %}
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    {% for choice in child %}
                        <th>
                            {{ choice.vars.label|trans }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for child in form %}
                    <tr>
                        <th>
                            {{ child.vars.label|trans }}
                        </th>
                        {% for choice in child %}
                            <td>
                                <input type="radio" id="{{ choice.vars.full_name }}_{{ choice.vars.value }}" name="{{ choice.vars.full_name }}" value="{{ choice.vars.value }}"{% if choice.vars.checked %} checked=""{% endif %}{% if choice.vars.attr.disabled is defined and choice.vars.attr.disabled == 'disabled' %} disabled="disabled"{% endif %} />
                                <label for="{{ choice.vars.full_name }}_{{ choice.vars.value }}"></label>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endspaceless %}
{% endblock oo_language_by_sites_widget %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="col-md-10 switch-button">
            <span>{{ 'open_orchestra_backoffice.form.swchoff.off'|trans }}</span>
            <label class="switch">
                {{ parent() }}
                <div class="slider"></div>
            </label>
            <span>{{ 'open_orchestra_backoffice.form.swchoff.on'|trans }}</span>
        </div>
    {% endspaceless %}

{% endblock %}

{% block radio_widget %}
    {% spaceless %}
        <div class="col-md-10 switch-button">
            <span>{{ 'open_orchestra_backoffice.form.swchoff.off'|trans }}</span>
            <label for="{{ full_name }}" class="switch">
            	<input id="{{ full_name }}" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                <div class="slider"></div>
            </label>
            <span>{{ 'open_orchestra_backoffice.form.swchoff.on'|trans }}</span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block oo_translated_value_collection_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                {% for key, field in form %}
                    {% if attribute(field.children, 'value') is defined %}
                        <li {% if app.request.locale == key %}class="active" {% endif %}>
                            <a href="#tab-{{ form.vars.id }}-{{ key }}" role="tab" data-toggle="tab">
                                <img
                                        src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/blank.gif') }}"
                                        class="flag flag-{{ field.vars.value.language }}"
                                        alt="{{ ('open_orchestra_backoffice.language.' ~ field.vars.value.language)|trans }}"
                                >
                                {{ form_label(field.value) }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for key, field in form %}
                    {% if attribute(field.children, 'value') is defined %}
                        <div class="tab-pane {% if app.request.locale == key %}active{% endif %}" id="tab-{{ form.vars.id }}-{{ key }}">
                            <div class="form-group{% if field.value.vars.errors|length > 0 %} has-error{% endif %}">
                                {{ form_widget(field.value) }}
                                {{ form_rest(field) }}
                                {{ form_errors(field.value) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_label %}
    {% spaceless %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}

        {% if label is not same as (false) %}
            {% set style = style|default(bootstrap_get_style()) %}
            {% set label_col = label_col|default(bootstrap_get_label_col()) %}

            {% if attr.style is defined and attr.style is not empty %}
                {% set style = attr.style %}
            {% endif %}

            {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' control-label')|trim }) %}
            {% if style == 'horizontal' %}
                {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' col-' ~ col_size ~ '-' ~ label_col)|trim }) %}
            {% elseif style == 'inline' %}
                {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' sr-only')|trim }) %}
            {% endif %}

            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain)|raw }} {{ block('form_help') }}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_row %}
    {% spaceless %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set form_group_col = form_group_col|default('') %}
        {% set refreshIcon = '' %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}
        {% set form_group_class = '' %}
        {% if form_group_col is defined and form_group_col is not empty %}
            {% set form_group_class = 'col-'~col_size~'-'~form_group_col %}
        {% endif %}

        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}
        {% if refresh is defined and refresh %}
            {% set refreshIcon %}
                <div class="col-{{ col_size }}-1">
                    <span rel="tooltip" class="btn btn-ribbon refresh-form">
                        <i class="fa fa-refresh"></i>
                    </span>
                </div>
                {% set widget_col = widget_col - 1 %}
            {% endset %}
        {% endif %}

        {% if label is sameas(false) %}
            {% set widget_col = widget_col + label_col %}
        {% endif %}

        {% set errors = false %}
        {% if form.vars.errors|length > 0 %}
            {% set errors = true %}
        {% endif %}
        {% for key, field in form %}
            {% if field.vars.errors is defined and field.vars.errors|length > 0 %}
                {% set errors = true %}
            {% endif %}
        {% endfor %}

        <div class="form-group{% if errors %} has-error{% endif %} {{ form_group_class }}">
            {% if style == 'horizontal' %}
                {{ form_label(form) }}
                {{ refreshIcon }}
                <div class="col-{{ col_size }}-{{ widget_col }}">
                    {{ block('form_input_group') }}
                    {{ form_errors(form) }}
                </div>
            {% else %}
                {{ form_label(form) }}
                {{ block('form_input_group') }}
                {{ form_errors(form) }}
            {% endif %}
        </div>

        {% if style == 'inline' %}&nbsp;{% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {{ block('form_row') }}
{% endblock checkbox_row %}

{% block radio_row %}
    {{ block('form_row') }}
{% endblock radio_row %}

{% block choice_widget_options %}
    {% if form.vars.attr.class is defined and form.vars.attr.class == 'orchestra-node-choice' %}
        {% spaceless %}
            {% for group_label, choice in options %}
                {% if choice is iterable %}
                    <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                        {% set options = choice %}
                        {{ block('choice_widget_options') }}
                    </optgroup>
                {% else %}
                    <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain)|raw }}</option>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock choice_widget_options %}


{% block form_help %}
    {% spaceless %}
        {% if attr.help_text is defined and attr.help_text is not empty %}
            {% set help_text = attr.help_text|trans({}, translation_domain)|raw %}
            <i class='form-help-tooltip icon-prepend fa fa-question-circle-o' data-toggle="tooltip" data-placement="bottom" data-original-title="{{ help_text }}"></i>
        {% endif %}
    {% endspaceless %}
{% endblock form_help %}


{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif attrname in ['input_group'] %}{% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
        {% for attrname, attrvalue in label_attr %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_end %}
    {% if form_legend is not defined or form_legend == true %}
        <div class="form-group">
            <div class="col-lg-12">
                {{ block('form_legend') }}
            </div>
        </div>
    {% endif %}
    {% if no_submit_button is not defined or no_submit_button != true %}
        {% spaceless %}
            <div class="form-group">
                <div class="col-lg-12">
                    {% set label = 'open_orchestra_backoffice.form.submit' %}
                    {% set attr = {'class': 'submit_form btn-in-ribbon'} %}
                    {% set id = 'submit_' ~ form.vars.name %}
                    {{ block('submit_widget') }}
                </div>
            </div>
            {{ parent() }}
        {% endspaceless %}
    {% endif %}
{% endblock form_end %}

{% block form_start %}
    {% spaceless %}
        {{ bootstrap_backup_form_settings() }}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}

        {% if style is defined %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-' ~ style)|trim }) %}
            {{ bootstrap_set_style(style) }}
        {% endif %}

        {% if form.vars.errors|length > 0 %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' has-global-errors')|trim }) %}
        {% endif %}

        {% if col_size is defined %}
            {{ bootstrap_set_col_size(col_size) }}
        {% endif %}

        {% if widget_col is defined %}
            {{ bootstrap_set_widget_col(widget_col) }}
        {% endif %}

        {% if label_col is defined %}
            {{ bootstrap_set_label_col(label_col) }}
        {% endif %}

        {% if simple_col is defined %}
            {{ bootstrap_set_simple_col(simple_col) }}
        {% endif %}

        {% if attr.role is not defined or attr.role is empty %}
            {% set attr = attr|merge({ 'role': 'form' }) %}
        {% endif %}

        <form  name="{{ form.vars.name }}" method="{{ form_method|lower }}" data-action="{{ action }}" action="{{ path('homepage') }}#error"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}" />
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}

{% block oo_date_picker_widget %}
    {% spaceless %}
        {% if form.vars.widget == 'single_text' %}
            <div class="input-group">
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' datepicker')|trim, 'data-dateformat': form.vars.format|default('yyyy-mm-dd')|lower }) %}
        {% endif %}
        {{ block('date_widget') }}
        {% if form.vars.widget == 'single_text' %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock oo_date_picker_widget %}

{% block form_legend %}
    <div class="help-block">
        <p>* {{ 'open_orchestra_backoffice.form.orchestra_fields.required_field' | trans }}</p>
        {% if form_legend_helper is defined and form_legend_helper is not empty %}
            <p>** {{ form_legend_helper | trans }}</p>
        {% endif %}
    </div>
{% endblock form_legend %}

{% block oo_tinymce_widget %}
    {{ block('textarea_widget') }}
    <div
            id="modal_internal_link_{{ id }}"
            data-url="{{ path('open_orchestra_backoffice_internal_link_form') }}"
    ></div>
{% endblock %}

{% block oo_role_choice_widget %}
    <div class="container-fluid">
        {% for category, parameters in form.vars.rolesOrdered %}
            <h4>{{ category|trans }}</h4>
            <div class="role-table">
                {% for label, ranks in parameters %}
                    <div class="role-row">
                        <div class="role-cell">
                            <div class="role-title">
                                {{ label|trans({}, 'role') }}
                            </div>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            {% for rank in ranks %}
                                <div class="role-cell btn btn-default{% if form[rank].vars.checked %} active{% endif %}">
                                    <input type="checkbox" name="{{ form[rank].vars.full_name }}" value="{{ form[rank].vars.value }}" {% if form[rank].vars.checked %} checked="checked"{% endif %} />
                                    {{ form[rank].vars.label }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block oo_field_type_widget %}
    {% spaceless %}
        <div {{ block('widget_attributes') }}>
            {{ form_row(form.fieldId) }}
            {{ form_row(form.labels) }}
            {{ form_row(form.type) }}
            {{ form_row(form.listable) }}
            {{ form_row(form.translatable) }}
            {{ form_row(form.searchable) }}
            {{ form_row(form.orderable) }}
            {{ form_row(form.orderDirection) }}
            {{ form_row(form.position) }}
            <fieldset>
                <legend>{{ 'open_orchestra_backoffice.form.field_type.additionalParameters'|trans }}</legend>
                {{ form_rest(form) }}
            </fieldset>
        </div>
    {% endspaceless %}
{% endblock %}

{% block oo_multi_languages_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                {% for key, field in form %}
                    <li {% if loop.first %}class="active" {% endif %}>
                        <a href="#tab-{{ form.vars.id }}-{{ key }}" role="tab" data-toggle="tab">
                            <img
                                    src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/blank.gif') }}"
                                    class="flag flag-{{ key }}"
                                    alt="{{ ('open_orchestra_backoffice.language.' ~ key)|trans }}"
                            >
                            {{ form_label(field) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for key, field in form %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab-{{ form.vars.id }}-{{ key }}">
                        <div class="form-group{% if field.vars.errors|length > 0 %} has-error{% endif %}">
                            {{ form_widget(field) }}
                            {{ form_rest(field) }}
                            {{ form_errors(field) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
