{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="smart-form">
            <label class="toggle display-normal">
                {{ parent() }}
                <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
            </label>
        </div>
    {% endspaceless %}
{% endblock %}

{% block translated_value_collection_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                {% for key, field in form %}
                   {% if attribute(field.children, 'value') is defined %}
                   <li {% if loop.first %}class="active" {% endif %}>
                        <a href="#tab-{{ form.vars.id }}-{{ key }}" role="tab" data-toggle="tab">
                            <img
                                src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/blank.gif') }}"
                                class="flag flag-{{ field.vars.value.language }}"
                                alt="{{ ('open_orchestra_backoffice.language.' ~ field.vars.value.language)|trans }}"
                            >
                            {{ form_label(field.value) }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for key, field in form %}
                   {% if attribute(field.children, 'value') is defined %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab-{{ form.vars.id }}-{{ key }}">
                        <div class="form-group{% if field.value.vars.errors|length > 0 %} has-error{% endif %}">
                            {{ form_widget(field.value) }}
                            {{ form_rest(field) }}
                            {{ form_errors(field.value) }}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set widget_name = widget_name|default('form_input_group') %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}
        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% if label is sameas(false) %}
            {% set widget_col = widget_col + label_col %}
        {% endif %}


        <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
            {% if style == 'horizontal' %}
                {{ form_label(form) }}
                <div class="col-{{ col_size }}-{{ widget_col }}">
                    {{ block('form_help') }}
                    {{ block(widget_name) }}
                    {{ form_errors(form) }}
                </div>
            {% else %}
                {{ form_label(form) }}
                {{ block('form_help') }}
                {{ block(widget_name) }}
                {{ form_errors(form) }}
            {% endif %}
        </div>

        {% if style == 'inline' %}&nbsp;{% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {{ form_row(form, { 'widget_name': 'checkbox_widget' }) }}
{% endblock checkbox_row %}

{% block radio_row %}
    {{ form_row(form, { 'widget_name': 'radio_widget' }) }}
{% endblock radio_row %}

{% block choice_widget_options %}
    {% if form.vars.attr.class is defined and form.vars.attr.class == 'orchestra-node-choice' %}
        {% spaceless %}
            {% for group_label, choice in options %}
                {% if choice is iterable %}
                    <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                        {% set options = choice %}
                        {{ block('choice_widget_options') }}
                    </optgroup>
                {% else %}
                    <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain)|raw }}</option>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock choice_widget_options %}

{% block form_help %}
    {% spaceless %}
        {% if attr.help_text is defined and attr.help_text is not empty %}
            {% set help_text = attr.help_text %}
        {% endif %}
        {% set help_text = help_text|default('') %}
        {% if help_text is not empty %}
            <i class='icon-prepend fa fa-question-circle helper-block' rel="tooltip" data-placement="top" data-original-title="{{ help_text|trans({}, translation_domain) }}"></i>
        {% endif %}
    {% endspaceless %}
{% endblock form_help %}

{% block widget_attributes %}
{% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif attrname in ['input_group'] %}{% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
        {% for attrname, attrvalue in label_attr %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_end %}
    {% if no_form_end_button is not defined or no_form_end_button != true %}
        {% spaceless %}
            <div class="form-group">
                <div class="col-lg-12">
                    {% set label = 'open_orchestra_backoffice.form.submit' %}
                    {% set attr = {'class': 'submit_form'} %}
                    {% set id = 'submit_' ~ form.vars.name %}
                    {{ block('submit_widget') }}
                </div>
            </div>
            {{ parent() }}
        {% endspaceless %}
    {% endif %}
{% endblock form_end %}
