<a
        href="#content_types/list"
        id="nav-content_types"
        data-url="{{ path('open_orchestra_api_content_type_list') }}"
        data-add="{{ path('open_orchestra_backoffice_content_type_new') }}"
        data-displayed-elements="content_type_id, name, version, linked_to_site"
        data-input-header = "text, text, number, boolean"
        data-visible-elements="content_type_id, name, version, linked_to_site"
        data-translated-header="{{'open_orchestra_backoffice.table.content_types.content_type_id'|trans }},{{'open_orchestra_backoffice.table.content_types.name'|trans }},{{'open_orchestra_backoffice.table.content_types.version'|trans }},{{'open_orchestra_backoffice.table.content_types.linked_to_site'|trans }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.content_type.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.content_type.list'|trans }}
</a>
