<a
        href="#group/list"
        id="nav-group"
        data-url="{{ path('open_orchestra_api_group_list') }}"
        data-add="{{ path('open_orchestra_backoffice_group_new') }}"
        data-datatable-parameter-name="{{ datatableParameterName }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.group.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.group.list'|trans }}
</a>
