<a
        href="#group/list"
        id="nav-group"
        data-url="{{ path('open_orchestra_api_group_list') }}"
        data-add="{{ path('open_orchestra_backoffice_group_new') }}"
        data-displayed-elements="name"
        data-visible-elements="name"
        data-translated-header="{{'open_orchestra_backoffice.table.group.name'|trans }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.group.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.group.list'|trans }}
</a>
