<a
        href="#role/list"
        id="nav-role"
        data-url="{{ path('open_orchestra_api_role_list') }}"
        data-add="{{ path('open_orchestra_backoffice_role_new') }}"
        data-displayed-elements="description, from_status, to_status"
        data-visible-elements="description, from_status, to_status"
        data-input-header = "text, text, text"
        data-translated-header="{{'open_orchestra_backoffice.table.role.description'|trans }},{{'open_orchestra_backoffice.table.role.from_status'|trans }},{{'open_orchestra_backoffice.table.role.to_status'|trans }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.role.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.role.list'|trans }}
</a>
