<a
        href="#status/list"
        id="nav-status"
        data-url="{{ path('open_orchestra_api_status_list') }}"
        data-add="{{ path('open_orchestra_backoffice_status_new') }}"
        data-datatable-parameter-name="{{ datatableParameterName }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.status.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.status.list'|trans }}
</a>
