<ul class="ui-model-blocks ui-sortable">
{% for key, block in blocks %}
    <li class="ui-model-blocks block" style="height: 40px;">
        <div class="{{ block.method }}" data-node-id="{{ nodeId }}" data-block-id="{{ key }}">
            <span class="title">{{ block.uiModel.label }}</span>
            <div class="preview">
                {{ block.uiModel.html }}
            </div>
        </div>
    </li>
{% endfor %}
</ul>
