<!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="{{ asset('bundles/openorchestrabackoffice/images/logo-orchestra.png') }}" alt="PHP Ochestra"> </span>
        <!-- END LOGO PLACEHOLDER -->
        <span class="no-body-no-break"><span id="oo-version">
            {% set extra_version = constant('\\OpenOrchestra\\BaseBundle\\OpenOrchestraBaseBundle::EXTRA_VERSION')|lower %}
            {{ constant('\\OpenOrchestra\\BaseBundle\\OpenOrchestraBaseBundle::VERSION')|default('') }}{% if extra_version != 'stable' %}-{{ extra_version }}{% endif %}</span></span>
        <!-- Note: The activity badge color changes when clicked and resets the number to 0
        Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
        {#<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> *21* </b> </span>#}

    {% include 'OpenOrchestraBackofficeBundle:BackOffice/Include/Header:ajaxDropdown.html.twig' %}
    </div>

    {% include 'OpenOrchestraBackofficeBundle:BackOffice/Include/Header:projectDropdown.html.twig' %}

    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="#;" data-action="toggleMenu" title="{{ 'open_orchestra_backoffice.top_menu.collapse_menu'|trans }}"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        {% include 'OpenOrchestraBackofficeBundle:BackOffice/Include/Header:mobileProfile.html.twig' %}

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="{{ url('fos_user_security_logout') }}" title="{{ 'open_orchestra_backoffice.top_menu.sign_out'|trans }}" data-action="userLogout" data-logout-msg="{{ 'open_orchestra_backoffice.top_menu.improve_security'|trans }}"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        {#% include 'OpenOrchestraBackofficeBundle:BackOffice/Include/Header:searchFunctionnality.html.twig' %#}

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="#;" data-action="launchFullscreen" title="{{ 'open_orchestra_backoffice.top_menu.fullscreen'|trans }}"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

        {#% include 'OpenOrchestraBackofficeBundle:BackOffice/Include/Header:voiceCommand.html.twig' %#}

        {% include 'OpenOrchestraBackofficeBundle:BackOffice/Include/Header:languageDropdown.html.twig' %}

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->
