<!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="{{ asset('bundles/phporchestrabackoffice/img/logo-orchestra.png') }}" alt="PHP Ochestra"> </span>
        <!-- END LOGO PLACEHOLDER -->

        <!-- Note: The activity badge color changes when clicked and resets the number to 0
        Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
        <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> *21* </b> </span>

    {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include/Header:ajaxDropdown.html.twig' %}
    </div>

    {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include/Header:projectDropdown.html.twig' %}

    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="{{ 'php_orchestra_cms.top_menu.collapse_menu'|trans({}, 'backOffice') }}"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include/Header:mobileProfile.html.twig' %}

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="{{ url('fos_user_security_logout') }}" title="{{ 'php_orchestra_cms.top_menu.sign_out'|trans({}, 'backOffice') }}" data-action="userLogout" data-logout-msg="{{ 'php_orchestra_cms.top_menu.improve_security'|trans({}, 'backOffice') }}"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0)" title="*Search*"><i class="fa fa-search"></i></a> </span>
        </div>
        <!-- end search mobile button -->

        <!-- input: search field -->
        <form action="#" class="header-search pull-right">
            <input id="search-fld"  type="text" name="param" placeholder="*Rechercher*"">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="javascript:void(0);" id="cancel-search-js" title="Annuler"><i class="fa fa-times"></i></a>
        </form>
        <!-- end input: search field -->

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="{{ 'php_orchestra_cms.top_menu.fullscreen'|trans({}, 'backOffice') }}"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

        {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include/Header:voiceCommand.html.twig' %}

        {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include/Header:languageDropdown.html.twig' %}

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->
