<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
        <span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
            <img src="{{ asset('bundles/phporchestracms/img/avatars/male.png') }}" alt="me" class="online" /> 
            <a href="javascript:void(0);" id="show-shortcut">
                xAdminx <i class="fa fa-angle-down"></i>
            </a> 
        </span>
    </div>
    <!-- end user info -->
    
    <nav>
        <ul style="">
            <li>
                <a href="{{ path('php_orchestra_cms_bo_edito') }}">
                    <i class="fa fa-lg fa-fw fa-edit"></i>
                    <span class="menu-item-parent">{{ 'php_orchestra_cms.left_menu.editorial.title'|trans({}, 'backOffice') }}</span>
                </a>
                <ul style="display:block;">
                    {{ render(controller('PHPOrchestraBackofficeBundle:Tree:showTreeNodes')) }}
                    {{ render(controller('PHPOrchestraBackofficeBundle:Tree:showTreeTemplates')) }}
                    <li>
                        <a
                            href="{{ path('php_orchestra_cms_bo_contentType_ajaxmenu', {'language':context.currentLocale, 'siteId':''}) }}"
                            target="_menu">
                            {{ 'php_orchestra_cms.left_menu.editorial.contents'|trans({}, 'backOffice') }}
                        </a>
                        <ul><li><a href="">{{ 'php_orchestra_cms.general.loading'|trans({}, 'backOffice') }}</a></li></ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i><span class="menu-item-parent">{{ 'php_orchestra_cms.left_menu.administration.title'|trans({}, 'backOffice') }}</span></a>
                <ul style="">
                    <li>
                        <a href="{{ path('phporchestra_cms_backofficeview_site_index', {'action' : 'catalog'}) }}">{{ 'php_orchestra_cms.left_menu.administration.sites'|trans({}, 'backOffice') }}</a>
                    </li>
                    <li>
                        <a href="{{ path('phporchestra_cms_backofficeview_contenttype_index', {'action':'catalog'}) }}">{{ 'php_orchestra_cms.left_menu.administration.content_types'|trans({}, 'backOffice') }}</a>
                    </li>
                    <li>
                        <a href="{{ path('lexik_translation_grid') }}">{{ 'php_orchestra_cms.left_menu.administration.translation'|trans({}, 'backOffice') }}</a>
                    </li>
                    <li>
                        <a href="#" id="clearRoutingCache">{{ 'php_orchestra_cms.left_menu.administration.routing_cache'|trans({}, 'backOffice') }}</a>
                        {% include 'PHPOrchestraBackofficeBundle:Tools:clearRoutingCacheDialog.html.twig' %}
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    
    <span class="minifyme">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
