<nav data-url="{{ path('open_orchestra_backoffice_menu') }}" data-datatable-parameter="{{ path('open_orchestra_api_datatable_parameter') }}" >
    <ul>
        {% for rootMenuWeights in strategies[constant('OpenOrchestra\\Backoffice\\NavigationPanel\\Strategies\\AbstractNavigationStrategy::ROOT_MENU')] %}
            {% for rootMenu in rootMenuWeights %}

                {% set treeRootMenu %}
                    {% if strategies[rootMenu.name] is defined %}
                        {% for subMenuWeights in strategies[rootMenu.name] %}
                            {% for subMenu in subMenuWeights %}
                                {% if subMenu.getRole is null or is_granted(subMenu.getRole) %}
                                    {{ subMenu.show|raw }}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endset %}

                {% if not strategies[rootMenu.name] is defined or (hasFunctionality is defined and hasFunctionality) %}
                    <li>
                        {{ rootMenu.show|raw }}
                    </li>
                {% elseif not treeRootMenu|trim is empty %}
                    <li>
                        {{ rootMenu.show|raw }}
                        <ul>
                            {{ treeRootMenu|raw }}
                        </ul>
                    </li>
                {% endif %}

            {% endfor %}
        {% endfor %}
    </ul>
</nav>
