<div id="form-dailymotion">
    {{ form_row(form.dailymotionVideoId) }}
    {{ form_row(form.dailymotionWidth) }}
    {{ form_row(form.dailymotionHeight) }}
    {{ form_row(form.dailymotionQuality) }}
    {{ form_row(form.dailymotionAutoplay) }}
    {{ form_row(form.dailymotionInfo) }}
    {{ form_row(form.dailymotionRelated) }}
    {{ form_row(form.dailymotionChromeless) }}
    {{ form_row(form.dailymotionLogo) }}
    {{ form_row(form.dailymotionBackground) }}
    {{ form_row(form.dailymotionForeground) }}
    {{ form_row(form.dailymotionHighlight) }}
</div>
