<div id="form-vimeo">
    {{ form_row(form.vimeoVideoId) }}
    {{ form_row(form.vimeoWidth) }}
    {{ form_row(form.vimeoHeight) }}
    {{ form_row(form.vimeoColor) }}
    {{ form_row(form.vimeoAutoplay) }}
    {{ form_row(form.vimeoFullscreen) }}
    {{ form_row(form.vimeoTitle) }}
    {{ form_row(form.vimeoByline) }}
    {{ form_row(form.vimeoPortrait) }}
    {{ form_row(form.vimeoLoop) }}
    {{ form_row(form.vimeoBadge) }}
</div>
