<div id="form-youtube">
    {{ form_row(form.youtubeVideoId) }}
    {{ form_row(form.youtubeWidth) }}
    {{ form_row(form.youtubeHeight) }}
    {{ form_row(form.youtubeAutoplay) }}
    {{ form_row(form.youtubeFs) }}
    {{ form_row(form.youtubeHl) }}
    {{ form_row(form.youtubeShowinfo) }}
    {{ form_row(form.youtubeRel) }}
    {{ form_row(form.youtubeDisablekb) }}
    {{ form_row(form.youtubeLoop) }}
    {{ form_row(form.youtubeControls) }}
    {{ form_row(form.youtubeTheme) }}
    {{ form_row(form.youtubeColor) }}
</div>
