<a
        href="#log/list"
        id="nav-log"
        data-url="{{ path('open_orchestra_api_log_list') }}"
        data-displayed-elements="date_time, user_ip, user_name, site_name, message"
        data-visible-elements="date_time, user_ip, user_name, site_name, message"
        data-translated-header="{{'open_orchestra_log.table.log.date_time'|trans }},{{'open_orchestra_log.table.log.user_ip'|trans }},{{'open_orchestra_log.table.log.user_name'|trans }},{{'open_orchestra_log.table.log.site_name'|trans }},{{'open_orchestra_log.table.log.message'|trans }}"
        data-order="0, desc"
        title="{{ 'open_orchestra_log.left_menu.administration.logs.list'|trans }}"
        >
    {{ 'open_orchestra_log.left_menu.administration.logs.list'|trans }}
</a>
