<div data-title="{{ 'open_orchestra_backoffice.form.group.user_list'|trans }}">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'open_orchestra_backoffice.form.group.add_user'|trans }}</label>
            <div class="col-sm-6">
                <input placeholder="{{ 'open_orchestra_backoffice.form.group.select_user'|trans }}" type="text" class="add-user-select2 form-control">
            </div>
        </div>
    </div>

    <div
        class="table-container"
        data-column="username, first_name, last_name, email"
        data-translatedHeader="{{ 'open_orchestra_user_admin.table.username'|trans }}, {{ 'open_orchestra_user_admin.table.first_name'|trans }}, {{ 'open_orchestra_user_admin.table.last_name'|trans }}, {{ 'open_orchestra_user_admin.table.email'|trans }}"
    >
    </div>
</div>
