
{% if element is defined %}
    <ul class="{{ class.ul }}">
        <li><a href="{{ url(element.node.nodeId) }}" class="{{ class.link }}">{{ element.node.name }}</a></li>
        {% if element.child is defined %}
            {% for child in element.child %}
                {% if child %}
                    {% include "PHPOrchestraCMSBundle:Block/Menu:show.html.twig" with {"element": child, "class": class} only %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
{% elseif tree is defined %}
    <div id="{{ id }}" class="{{ class.div }}">
        {% for element in tree_formatter(tree) %}
            {% include "PHPOrchestraCMSBundle:Block/Menu:show.html.twig" with {"element": element, "class": class} only %}
        {% endfor %}
    </div>
{% endif %}
