<a href="#">
    <span class="menu-item-parent">{{ 'open_orchestra_backoffice.left_menu.editorial.error_nodes.title'|trans }}</span>
</a>
<ul>
    <li data-element-id="{{ nodeId404 }}" data-type="Node">
        <a id="nav-node-{{ nodeId404 }}" data-url="{{ path('open_orchestra_api_node_show_or_create_error', {'nodeId': nodeId404}) }}" data-node="{{ nodeId404 }}" href="#node/show/{{ nodeId404 }}">
            <span>{{ 'open_orchestra_backoffice.left_menu.editorial.error_nodes.error_404'|trans }}</span>
        </a>
    </li>
    <li data-element-id="{{ nodeId503 }}" data-type="Node">
        <a id="nav-node-{{ nodeId503 }}" data-url="{{ path('open_orchestra_api_node_show_or_create_error', {'nodeId': nodeId503}) }}" data-node="{{ nodeId503 }}" href="#node/show/{{ nodeId503 }}">
            <span>{{ 'open_orchestra_backoffice.left_menu.editorial.error_nodes.error_503'|trans }}</span>
        </a>
    </li>
</ul>
