<a
        href="#keywords/list"
        id="nav-keywords"
        data-url="{{ path('open_orchestra_api_keyword_list') }}"
        data-add="{{ path('open_orchestra_backoffice_keyword_new') }}"
        data-displayed-elements="label"
        data-translated-header="{{'open_orchestra_backoffice.table.keywords.label'|trans }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.keyword.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.keyword.list'|trans }}
</a>
