<a
        href="#redirection/list"
        id="nav-redirection"
        data-url="{{ path('open_orchestra_api_redirection_list') }}"
        data-displayed-elements="site_name, route_pattern, locale, redirection, permanent"
        data-translated-header="{{'open_orchestra_backoffice.table.redirection.site_name'|trans }},{{'open_orchestra_backoffice.table.redirection.route_pattern'|trans }},{{'open_orchestra_backoffice.table.redirection.locale'|trans }},{{'open_orchestra_backoffice.table.redirection.redirection'|trans }},{{'open_orchestra_backoffice.table.redirection.permanent'|trans }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.redirection.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.redirection.list'|trans }}
</a>
