<a
        href="#status/list"
        id="nav-status"
        data-url="{{ path('open_orchestra_api_status_list') }}"
        data-add="{{ path('open_orchestra_backoffice_status_new') }}"
        data-displayed-elements="label, published, display_color, initial"
        data-translated-header="{{'open_orchestra_backoffice.table.status.label'|trans }},{{'open_orchestra_backoffice.table.status.published'|trans }},{{'open_orchestra_backoffice.table.status.display_color'|trans }},{{'open_orchestra_backoffice.table.status.initial'|trans }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.status.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.status.list'|trans }}
</a>
