<a
    href="#websites/list"
    id="nav-websites"
    data-url="{{ path('open_orchestra_api_site_list') }}"
    data-displayed-elements="site_id, name"
    data-translated-header="{{'open_orchestra_backoffice.table.websites.site_id'|trans }},{{'open_orchestra_backoffice.table.websites.name'|trans }}"
    title="{{ 'open_orchestra_backoffice.left_menu.administration.sites.list'|trans }}"
    >
    {{ 'open_orchestra_backoffice.left_menu.administration.sites.list'|trans }}
</a>
