<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}OpenOrchestra{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}

            {% if app.debug %}
                {% stylesheets 'css/all.css' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% else %}
                {% stylesheets 'css/all.min.css' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endif %}

        {% endblock %}
</head>
    <body>
    {% block body %}
        <header class="header-region">
        </header>
        <div class="inner">
            <div id="left-column">
            </div>
            <div id="central-column">
            </div>
        </div>
        <div class="modal-region"></div>

        <script>
            var config = {
                debug: '{{ app.debug }}',
                environment: '{{ app.environment }}',
                template: {
                    baseUrlTemplate: '/bundles/',
                    templateVersion: '{{ asset_version('/') }}'
                },
                routing: {
                    baseUrl: '{{ app.request.baseUrl }}',
                    scheme: '{{ app.request.scheme }}',
                    host: '{{ app.request.host }}'
                }
            };
            var context = {
                siteId: '{{ context.currentSiteId }}',
                language: '{{ context.currentLocale }}',
                user: {
                    username : '{{ app.user.username }}',
                    firstName : '{{ app.user.firstName }}',
                    lastName : '{{ app.user.lastName }}'
                }
            };
        </script>

        {{ tinymce_init() }}

        {% if app.debug %}
            {% javascripts 'js/all.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% else %}
            {% javascripts 'js/all.min.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endif %}
    {% endblock %}
    </body>
</html>
