<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}OpenOrchestra{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}

            {% if app.debug %}
                {% stylesheets 'css/all.css' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% else %}
                {% stylesheets 'css/all.min.css' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endif %}

        {% endblock %}
</head>
    <body>
    {% block body %}
        <header class="header-region">
        </header>
        <div class="inner">
            <div id="left-column">
            </div>
            <div id="central-column">
                <div class="top-central-column breadcrumb-region"></div>
                <div class="content-region"></div>
            </div>
        </div>
        <div class="modal-region"></div>
        {% set siteIdKey = constant('OpenOrchestra\\UserBundle\\Document\\User::SITE_ID_PREFIX') ~ context.currentSiteId %}
        <script>
            var config = {
                debug: '{{ app.debug }}',
                environment: '{{ app.environment }}',
                template: {
                    baseUrlTemplate: '/bundles/',
                    templateVersion: '{{ asset_version('/') }}'
                },
                routing: {
                    baseUrl: '{{ app.request.baseUrl }}',
                    scheme: '{{ app.request.scheme }}',
                    host: '{{ app.request.host }}'
                }
            };
            var context = {
                siteId: '{{ context.currentSiteId }}',
                siteLanguages: {{ context.currentSiteLanguages|json_encode()|raw }},
                language: '{{ context.currentLocale }}',
                user: {
                    id : '{{ app.user.id }}',
                    username : '{{ app.user.username }}',
                    firstName : '{{ app.user.firstName }}',
                    lastName : '{{ app.user.lastName }}',
                    language: {
                        contribution: {% if app.user.languageBySites[siteIdKey] is defined %} '{{ app.user.languageBySites[siteIdKey] }}' {% else %} '{{context.currentSiteDefaultLanguage}}' {% endif %}
                    },
                    access_section: {
                        'dashboard': true,
                        'contribution': true,
                        'user': {{ ('ROLE_DEVELOPER' in app.user.roles  or 'ROLE_PLATFORM_ADMIN' in app.user.roles  or 'ROLE_SITE_ADMIN' in app.user.roles)|json_encode()|raw }},
                        'configuration': {{ ('ROLE_DEVELOPER' in app.user.roles  or 'ROLE_PLATFORM_ADMIN' in app.user.roles  or 'ROLE_SITE_ADMIN' in app.user.roles)|json_encode()|raw }},
                        'platform': {{ ('ROLE_DEVELOPER' in app.user.roles  or 'ROLE_PLATFORM_ADMIN' in app.user.roles)|json_encode()|raw  }},
                        'developer': {{ ('ROLE_DEVELOPER' in app.user.roles)|json_encode()|raw }}
                    }
                }
            };
        </script>
        {{ tinymce_init() }}

        {% if app.debug %}
            {% javascripts 'js/all.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% else %}
            {% javascripts 'js/all.min.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endif %}
    {% endblock %}
    </body>
</html>
