<p>
    {{ 'open_orchestra_backoffice.block.video.type'|trans() }} : Dailymotion<br />
    {{ 'open_orchestra_backoffice.block.video.dailymotion.video_id'|trans() }} : <a href="{{ attributes.dailymotionVideoId }}">{{ attributes.dailymotionVideoId }}</a><br />
    {{ 'open_orchestra_backoffice.block.video.dailymotion.width'|trans() }}: {{ attributes.dailymotionWidth }}<br />
    {{ 'open_orchestra_backoffice.block.video.dailymotion.height'|trans() }} : {{ attributes.dailymotionHeight }}<br />
</p>
