<p>
    {{ 'php_orchestra_backoffice.block.video.type'|trans() }} : Vimeo<br />
    {{ 'php_orchestra_backoffice.block.video.vimeo.video_id'|trans() }} : <a href="{{ attributes.vimeoVideoId }}">{{ attributes.vimeoVideoId }}</a><br />
    {{ 'php_orchestra_backoffice.block.video.vimeo.width'|trans() }}: {{ attributes.vimeoWidth }}<br />
    {{ 'php_orchestra_backoffice.block.video.vimeo.height'|trans() }} : {{ attributes.vimeoHeight }}<br />
</p>
