<p>
    {{ 'open_orchestra_backoffice.block.video.type'|trans() }} : Youtube<br />
    {{ 'open_orchestra_backoffice.block.video.youtube.video_id'|trans() }} : <a href="{{ attributes.youtubeVideoId }}">{{ attributes.youtubeVideoId }}</a><br />
    {{ 'open_orchestra_backoffice.block.video.youtube.width'|trans() }}: {{ attributes.youtubeWidth }}<br />
    {{ 'open_orchestra_backoffice.block.video.youtube.height'|trans() }} : {{ attributes.youtubeHeight }}<br />
</p>
