{% block oo_registration_user_submit_widget %}
    {% spaceless %}
        {{ block('form_submit_widget') }}
        {% set label = 'open_orchestra_backoffice.form.submit_continue' %}
        {% set id = 'submit_' ~ form.vars.name %}
        {% set attr = {'class': 'submit-continue-form'} %}
        {% set button_class= 'primary' %}
        {{ block('button_widget') }}
    {% endspaceless %}
{% endblock oo_registration_user_submit_widget %}
{% block oo_member_list_widget %}
	{% set collection = form|first %}
    {% spaceless %}
        <div class="group-users-list">
            <table class="table table-striped">
                <tbody>
            {% for child in collection %}
                {{ form_widget(child) }}
            {% endfor %}
                </tbody>
            </table>
        </div>
    {% endspaceless %}
{% endblock oo_member_list_widget %}

{% block oo_member_element_widget %}
    <tr>
        <td><div class="hide">{{ form_widget(form) }}</div><a href="#" data-id="{{ form.vars.parameters['id'] }}" class="member-link">{{ form.vars.parameters['firstName'] }}&nbsp;{{ form.vars.parameters['lastName'] }}</a></td>
        <td>{{ form.vars.parameters['email'] }}</td>
        <td><i class="fa fa-trash" aria-hidden="true"></i></td>
    </tr>
{% endblock oo_member_element_widget %}
