{% macro menu_nodes(nodes, name) %}
    {% for element in nodes %}
        {% set node = element.node %}
        <li id="{{ id }}" data-tree-parameter="{{ node.nodeId }}">
            <a
                data-url="{{ path('php_orchestra_api_node_show', {'nodeId': node.nodeId}) }}"
                data-node="{{ node.nodeId }}"
                href="#"
                class="ajax-load">
                <i
                        class="fa fa-trash-o ajax-delete"
                        data-delete-url="{{ path('php_orchestra_api_node_delete', {'nodeId': node.nodeId}) }}"
                        data-confirm-text="{{ 'php_orchestra_backoffice.left_menu.tree.delete_node'|trans({'%nodeName%': node.name}) }}">
                </i>
                <span>{{ node.name }}</span>
            </a>
            {% if 'child' in element|keys %}
                <ul class="{{ name }}-connectedSortable">
                    {{ _self.menu_nodes(element.child, name) }}
                    {% set newId = name ~ '-' ~ e_crc32(random()) %}
                    <li id="{{ newId }}" data-tree-parameter="{ 'parentId' : {{ node.nodeId }} }">
                        <div class="ui-state-unsortable">
                            <a href="#">
                                <i class="fa fa-file" data-url="{{ path('php_orchestra_cms_bo_jscontextmenudispatcher', {'cmd':'createNode'}) }}">
                                </i>
                                {{ 'php_orchestra_backoffice.left_menu.tree.new_page'|trans }}
                            </a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro menu_templates(templates, name) %}
    {% for template in templates %}
        <li>
            <div>
                <a
                    href="#"
                    data-url="{{ path('php_orchestra_api_template_show', {'templateId': template.templateId}) }}"
                    data-template="{{ template.templateId }}"
                    class="template-ajax-load"
                    >
                    <i
                            class="fa fa-trash-o ajax-delete"
                            data-delete-url="{{ path('php_orchestra_api_template_delete', {'templateId': template.templateId}) }}"
                            data-confirm-text="{{ 'php_orchestra_backoffice.left_menu.tree.delete_template'|trans({'%templateName%': template.name}) }}">
                    </i>
                    <span>{{ template.name }}</span>
                </a>
            </div>
        </li>
    {% endfor %}
    <li data-tree-parameter="{}">
        <div class="ui-state-unsortable">
            <a href="#">
                <i class="fa fa-file" data-url="{{ path('php_orchestra_cms_bo_jscontextmenudispatcher', {'cmd':'createTemplate'}) }}">
                </i>
                {{ 'php_orchestra_backoffice.left_menu.tree.new_template'|trans }}
            </a>
        </div>
    </li>
{% endmacro %}
