{% macro menu_nodes(nodes, name) %}
    {% for element in nodes %}
        {% set node = element.node %}
        <li data-element-id="{{ node.nodeId }}"
            data-type="Node"
        >
            <a
                id="nav-node-{{ node.nodeId }}"
                data-url="{{ path('php_orchestra_api_node_show', {'nodeId': node.nodeId}) }}"
                data-node="{{ node.nodeId }}"
                href="#node/show/{{ node.nodeId }}"
            >
                <i
                    class="fa fa-trash-o ajax-delete"
                    data-delete-url="{{ path('php_orchestra_api_node_delete', {'nodeId': node.nodeId}) }}"
                    data-confirm-text="{{ 'php_orchestra_backoffice.left_menu.tree.delete_node'|trans({'%nodeName%': node.name}) }}"
                >
                </i>
                <span>{{ node.name }}</span>
            </a>
            {% if 'child' in element|keys %}
                <ul class="{{ name }}-connectedSortable">
                    {% if element.child is not empty %}
                        {{ _self.menu_nodes(element.child, name) }}
                    {% endif %}
                    <li>
                        <div class="ui-state-unsortable">
                            <a
                                class="ajax-new"
                                href="#"
                                data-url="{{ path('php_orchestra_backoffice_node_new', {'parentId': node.nodeId}) }}"
                            >
                                <i class="fa fa-file"></i>
                                {{ 'php_orchestra_backoffice.left_menu.tree.new_page'|trans }}
                            </a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </li>
    {% else %}
        <li>
            <div class="ui-state-unsortable">
                <a
                    class="ajax-new"
                    href="#"
                    data-url="{{ path('php_orchestra_backoffice_node_new', {'parentId': '-'}) }}"
                >
                    <i class="fa fa-file"></i>
                    {{ 'php_orchestra_backoffice.left_menu.tree.new_page'|trans }}
                </a>
            </div>
        </li>
    {% endfor %}
{% endmacro %}

{% macro menu_templates(templates, name) %}
    {% for template in templates %}
        <li data-element-id="{{ template.templateId }}"
            data-type="Template"
        >
            <a
                id="nav-template-{{ template.templateId }}"
                href="#template/show/{{ template.templateId }}"
                data-url="{{ path('php_orchestra_api_template_show', {'templateId': template.templateId}) }}"
                data-template="{{ template.templateId }}"
            >
                <i
                    class="fa fa-trash-o ajax-delete"
                    data-delete-url="{{ path('php_orchestra_api_template_delete', {'templateId': template.templateId}) }}"
                    data-confirm-text="{{ 'php_orchestra_backoffice.left_menu.tree.delete_template'|trans({'%templateName%': template.name}) }}">
                </i>
                <span>{{ template.name }}</span>
            </a>
        </li>
    {% endfor %}
    <li>
        <div class="ui-state-unsortable">
            <a
                class="ajax-new"
                href="#"
                data-url="{{ path('php_orchestra_backoffice_template_form') }}"
            >
                <i class="fa fa-file"></i>
                {{ 'php_orchestra_backoffice.left_menu.tree.new_template'|trans }}
            </a>
        </div>
    </li>
{% endmacro %}

{% macro menu_content_types_for_content(contentTypes, name) %}
    {% for contentType in contentTypes %}
        <li
            data-element-id="{{ contentType.contentTypeId }}"
            data-type="ContentType"
        >
            <a
                id="nav-contents-{{contentType.contentTypeId}}"
                href="#contents/list/{{contentType.contentTypeId}}"
                data-url="{{ path('php_orchestra_api_content_list', {'content_type': contentType.contentTypeId}) }}"
                data-displayed-elements="content_id, content_type, name, status"
            >
                {{ contentType.names| trans_choose }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro menu_folder(folders, parent_id) %}
    {% for folder in folders %}
        <li>
            <a
                href="#{{ folder.id }}/list"
                id="{{ folder.id }}"
                data-url="{{ path('php_orchestra_api_media_list', {'folderId': folder.id}) }}"
                data-displayed-elements="name">
                <i
                    class="fa fa-trash-o ajax-delete"
                    data-delete-url="{{ path('php_orchestra_api_folder_delete', {'folderId': folder.id}) }}"
                    data-confirm-text="{{ 'php_orchestra_backoffice.left_menu.tree.delete_media_folder'|trans({'%folderName%': folder.name}) }}"
                >
                </i>
                <span>{{ folder.name }}</span>
            </a>
            {% if folder.subFolders is not empty %}
                <ul >
                    {{ _self.menu_folder(folder.subFolders, folder.id) }}
                </ul>
            {% endif %}
        </li>
{% endfor %}
        <li>
            <div class="ui-state-unsortable">
                <a
                    class="ajax-new"
                    href="#"
                    data-url="{{ path('php_orchestra_backoffice_folder_new', {'parentId': parent_id}) }}"
                >
                    <i class="fa fa-file"></i>
                    {{ 'php_orchestra_backoffice.left_menu.tree.new_media_folder'|trans }}
                </a>
            </div>
        </li>
{% endmacro %}

{% macro menu_modal_folder(folders, name) %}
    {% for folder in folders %}
        <li>
            <a
                id="media-modal-{{ folder.id }}"
                class="media-modal-menu-folder"
                data-url="{{ path('php_orchestra_api_media_list', {'folder_id': folder.id}) }}"
                data-displayed-elements="name">
                {{ folder.name }}
            </a>
            {% if folder.subFolders is not empty %}
                <ul >
                    {{ _self.menu_modal_folder(folder.subFolders, name) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
