{% macro menu_nodes(nodes, name, nodeId404, nodeId503) %}
    {% for element in nodes %}
        {% set node = element.node %}
        {% if (node.nodeType != "general" and is_granted("ROLE_ACCESS_TREE_NODE", node))
           or (node.nodeType == "general" and is_granted("ROLE_ACCESS_TREE_GENERAL_NODE")) %}
            <li data-element-id="{{ node.nodeId }}"
                data-type="Node"
            >
                <a
                    id="nav-node-{{ node.nodeId }}"
                    data-url="{{ path('open_orchestra_api_node_show_or_create', {'nodeId': node.nodeId}) }}"
                    data-node="{{ node.nodeId }}"
                    href="#node/show/{{ node.nodeId }}"
                >
                    <span>{{ node.name }}</span>
                </a>
                {% if 'child' in element|keys
                   and (element.child is not empty or is_granted("ROLE_ACCESS_CREATE_NODE", node))
                   and node.nodeType != constant('TYPE_TRANSVERSE', node)
                %}
                    <ul
                        {% if is_granted("ROLE_ACCESS_MOVE_NODE", node) %} class="node-connectedSortable" {% endif %}
                        data-update-order="{{ path('open_orchestra_api_node_update_children_order', {'nodeId': node.nodeId}) }}"
                        data-confirm-title="{{ 'open_orchestra_backoffice.left_menu.tree.confirm_move.title'|trans }}"
                        data-confirm-text="{{ 'open_orchestra_backoffice.left_menu.tree.confirm_move.text'|trans({'%nodeName%': node.name}) }}"
                    >
                        {% if element.child is not empty %}
                            {{ _self.menu_nodes(element.child, name) }}
                        {% endif %}
                        {{ _self.new_node(node.nodeId, "node-unsortable", node) }}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% else %}
        {{ _self.new_node('-', "ui-state-unsortable", null) }}
    {% endfor %}

    {% if nodeId404 %}
        {{ _self.error_node(nodeId404, 'error_404') }}
    {% endif %}

    {% if nodeId503 %}
        {{ _self.error_node(nodeId503, 'error_503') }}
    {% endif %}

{% endmacro %}

{% macro new_node(parentId, class, node) %}
    {% if is_granted("ROLE_ACCESS_CREATE_NODE", node) %}
        <li>
            <div class="{{ class }}">
                <a
                    class="ajax-new"
                    href="#"
                    data-url="{{ path('open_orchestra_backoffice_node_new', {'parentId': parentId}) }}"
                    data-type="node"
                >
                    <i class="fa fa-file"></i>
                    {{ 'open_orchestra_backoffice.left_menu.tree.new_page'|trans }}
                </a>
            </div>
        </li>
    {% endif %}
{% endmacro %}

{% macro error_node(nodeId, translationKey) %}
        <li data-element-id="{{ nodeId }}" data-type="Node">
            <a id="nav-node-{{ nodeId }}" data-url="{{ path('open_orchestra_api_node_show_or_create_error', {'nodeId': nodeId}) }}" data-node="{{ nodeId }}" href="#node/show/{{ nodeId }}">
                <span>{{ ('open_orchestra_backoffice.left_menu.editorial.error_nodes.' ~ translationKey)|trans }}</span>
            </a>
        </li>
{% endmacro %}

{% macro menu_templates(templates, name) %}
    {% for template in templates %}
        <li data-element-id="{{ template.templateId }}"
            data-type="Template"
        >
            <a
                id="nav-template-{{ template.templateId }}"
                href="#template/show/{{ template.templateId }}"
                data-url="{{ path('open_orchestra_api_template_show', {'templateId': template.templateId}) }}"
                data-template="{{ template.templateId }}"
            >
                <span>{{ template.name }}</span>
            </a>
        </li>
    {% endfor %}
    {% if is_granted("ROLE_ACCESS_CREATE_TEMPLATE") %}
        <li>
            <div class="ui-state-unsortable">
                <a
                    class="ajax-new"
                    href="#"
                    data-url="{{ path('open_orchestra_backoffice_template_new') }}"
                    data-type="template"
                >
                    <i class="fa fa-file"></i>
                    {{ 'open_orchestra_backoffice.left_menu.tree.new_template'|trans }}
                </a>
            </div>
        </li>
    {% endif %}
{% endmacro %}

{% macro menu_templates_flex(templates, name) %}
    {% for template in templates %}
        <li data-element-id="{{ template.templateId }}"
            data-type="Template"
        >
            <a
                id="nav-template-{{ template.templateId }}"
                href="#template-flex/show/{{ template.templateId }}"
                data-url="{{ path('open_orchestra_api_template_flex_show', {'templateId': template.templateId}) }}"
                data-template="{{ template.templateId }}"
            >
                <span>{{ template.name }}</span>
            </a>
        </li>
    {% endfor %}
    {% if is_granted("ROLE_ACCESS_CREATE_TEMPLATE") %}
        <li>
            <div class="ui-state-unsortable">
                <a
                    class="ajax-new"
                    href="#"
                    data-url="{{ path('open_orchestra_backoffice_template_flex_new') }}"
                    data-type="template-flex"
                >
                    <i class="fa fa-file"></i>
                    {{ 'open_orchestra_backoffice.left_menu.tree.new_template'|trans }}
                </a>
            </div>
        </li>
    {% endif %}
{% endmacro %}

{% macro menu_content_types_for_content(contentTypes, datatableParameterNames) %}
    {% for key, contentType in contentTypes %}
        <li
            data-element-id="{{ contentType.contentTypeId }}"
            data-type="ContentType"
        >
            <a
                id="nav-contents_{{contentType.contentTypeId}}"
                href="#contents_{{contentType.contentTypeId}}/list"
                data-url="{{ path('open_orchestra_api_content_list', {'content_type': contentType.contentTypeId}) }}"
                data-add="{{ path('open_orchestra_backoffice_content_new', {'contentType': contentType.contentTypeId}) }}"
		        data-datatable-parameter-name="{{ datatableParameterNames[loop.index0] }}"
            >
                {{ contentType.names| trans_choose }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}
