{% macro menu_nodes(nodes, name) %}
    {% for element in nodes %}
        {% set node = element.node %}
        <li data-element-id="{{ node.nodeId }}"
            data-type="Node"
        >
            <a
                id="nav-node-{{ node.nodeId }}"
                data-url="{{ path('open_orchestra_api_node_show_or_create', {'nodeId': node.nodeId}) }}"
                data-node="{{ node.nodeId }}"
                href="#node/show/{{ node.nodeId }}"
            >
                <span>{{ node.name }}</span>
            </a>
            {% if 'child' in element|keys %}
                <ul
                    class="node-connectedSortable"
                    data-update-order="{{ path('open_orchestra_api_node_update_children_order', {'nodeId': node.nodeId}) }}"
                    data-confirm-title="{{ 'open_orchestra_backoffice.left_menu.tree.confirm_move.title'|trans }}"
                    data-confirm-text="{{ 'open_orchestra_backoffice.left_menu.tree.confirm_move.text'|trans({'%nodeName%': node.name}) }}"
                >
                    {% if element.child is not empty %}
                        {{ _self.menu_nodes(element.child, name) }}
                    {% endif %}
                    <li class="node-unsortable">
                        <div>
                            <a
                                class="ajax-new"
                                href="#"
                                data-url="{{ path('open_orchestra_backoffice_node_new', {'parentId': node.nodeId}) }}"
                                data-type="node"
                            >
                                <i class="fa fa-file"></i>
                                {{ 'open_orchestra_backoffice.left_menu.tree.new_page'|trans }}
                            </a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </li>
    {% else %}
        <li>
            <div class="ui-state-unsortable">
                <a
                    class="ajax-new"
                    href="#"
                    data-url="{{ path('open_orchestra_backoffice_node_new', {'parentId': '-'}) }}"
                    data-type="node"
                >
                    <i class="fa fa-file"></i>
                    {{ 'open_orchestra_backoffice.left_menu.tree.new_page'|trans }}
                </a>
            </div>
        </li>
    {% endfor %}
{% endmacro %}

{% macro menu_templates(templates, name) %}
    {% for template in templates %}
        <li data-element-id="{{ template.templateId }}"
            data-type="Template"
        >
            <a
                id="nav-template-{{ template.templateId }}"
                href="#template/show/{{ template.templateId }}"
                data-url="{{ path('open_orchestra_api_template_show', {'templateId': template.templateId}) }}"
                data-template="{{ template.templateId }}"
            >
                <span>{{ template.name }}</span>
            </a>
        </li>
    {% endfor %}
    <li>
        <div class="ui-state-unsortable">
            <a
                class="ajax-new"
                href="#"
                data-url="{{ path('open_orchestra_backoffice_template_new') }}"
                data-type="template"
            >
                <i class="fa fa-file"></i>
                {{ 'open_orchestra_backoffice.left_menu.tree.new_template'|trans }}
            </a>
        </div>
    </li>
{% endmacro %}

{% macro menu_content_types_for_content(contentTypes, name) %}
    {% for contentType in contentTypes %}
        {% set displayedElement = 'name, status_label, version, language, linked_to_site' %}
        {% set translatedHeader = 'open_orchestra_backoffice.table.content_type.name'|trans ~ ', ' ~
                                    'open_orchestra_backoffice.table.content_type.status_label'|trans ~ ', ' ~
                                    'open_orchestra_backoffice.table.content_type.version'|trans ~ ', ' ~
                                    'open_orchestra_backoffice.table.content_type.language'|trans ~ ', ' ~
                                    'open_orchestra_backoffice.table.content_type.linked_to_site'|trans %}
        {% set visibleElement = '' %}
        {% for columnName, listable in contentType.defaultListable %}
            {% if listable %}
                {% if visibleElement is empty %}
                    {% set visibleElement = columnName %}
                {% else %}
                    {% set visibleElement = visibleElement ~ ', ' ~ columnName %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for field in contentType.fields %}
            {% set displayedElement = displayedElement ~ ',' ~ field.fieldId %}
            {% set translatedHeader = translatedHeader ~ ', ' ~ field.labels|trans_choose %}
            {% if field.listable %}
                {% if visibleElement is empty %}
                    {% set visibleElement = field.fieldId %}
                {% else %}
                    {% set visibleElement = visibleElement ~ ',' ~ field.fieldId %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <li
            data-element-id="{{ contentType.contentTypeId }}"
            data-type="ContentType"
        >
            <a
                id="nav-contents_{{contentType.contentTypeId}}"
                href="#contents_{{contentType.contentTypeId}}/list"
                data-url="{{ path('open_orchestra_api_content_list', {'content_type': contentType.contentTypeId}) }}"
                data-add="{{ path('open_orchestra_backoffice_content_new', {'contentType': contentType.contentTypeId}) }}"
                data-displayed-elements="{{ displayedElement }}"
                data-translated-header="{{ translatedHeader }}"
                data-visible-elements="{{ visibleElement }}"
            >
                {{ contentType.names| trans_choose }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}
