{% macro menu_nodes(nodes, name) %}
    {% for element in nodes %}
        {% set node = element.node %}
        {% set id = name ~ '-' ~ e_crc32(node.id) %}
        <li id="{{ id }}" data-tree-parameter="{ 'nodeId': {{ node.id }}, 'name' : {{ node.name }} }">
            <div>
                <a
                    data-url="{{ path('php_orchestra_api_node_show', {'nodeId': node.nodeId}) }}"
                    href="#"
                    class="ajax-load">
                {#<a href="{{ path('php_orchestra_backoffice_node_form', {'nodeId': node.nodeId}) }}">#}
                    <i class="fa fa-trash-o" data-url="{{ path('php_orchestra_cms_bo_jscontextmenudispatcher', {'cmd':'confirmDeleteNode'}) }}">
                    </i>
                    {{ node.name }}
                </a>
                {% if 'child' in element|keys %}
                    <ul class="{{ name }}-connectedSortable">
                        {{ _self.menu_nodes(element.child, name) }}
                        {% set newId = name ~ '-' ~ e_crc32(random()) %}
                        <li id="{{ newId }}" data-tree-parameter="{ 'parentId' : {{ node.nodeId }} }">
                            <div class="ui-state-unsortable">
                                <a href="#">
                                    <i class="fa fa-file" data-url="{{ path('php_orchestra_cms_bo_jscontextmenudispatcher', {'cmd':'createNode'}) }}">
                                    </i>
                                    {{ 'php_orchestra_backoffice.left_menu.tree.new_page'|trans }}
                                </a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </li>
    {% endfor %}
{% endmacro %}

{% macro menu_templates(templates, name) %}
    {% for template in templates %}
        {% set id = name ~ '-' ~ e_crc32(template.id) %}
        <li id="{{ id }}" data-tree-parameter="{ 'templateId': {{ template.id }}, 'name': {{ template.name }}}">
            <div>
                <a href="{{ path('php_orchestra_cms_templateform', {'templateId': template.templateId}) }}">
                    <i class="fa fa-trash-o" data-url="{{ path('php_orchestra_cms_bo_jscontextmenudispatcher', {'cmd':'confirmDeletetemplate'}) }}">
                    </i>
                    {{ template.name }}
                </a>
            </div>
        </li>
    {% endfor %}
    {% set newId = name ~ '-' ~ e_crc32(random()) %}
    <li id="{{ newId }}" data-tree-parameter="{}">
        <div class="ui-state-unsortable">
            <a href="#">
                <i class="fa fa-file" data-url="{{ path('php_orchestra_cms_bo_jscontextmenudispatcher', {'cmd':'createTemplate'}) }}">
                </i>
                {{ 'php_orchestra_backoffice.left_menu.tree.new_template'|trans }}
            </a>
        </div>
    </li>
{% endmacro %}
