{% macro node_folder(folder) %}
    <a
        href="#folder/{{ folder.id }}/list"
        id="{{ folder.id }}"
        data-url="{{ path('open_orchestra_api_media_list', {'folderId': folder.id}) }}"
        data-media-edit-url="{{ path('open_orchestra_api_media_show', {'mediaId': ':mediaId'}) }}"
        data-displayed-elements="name"
    >
        <span>{{ folder.name }}</span>
    </a>
{% endmacro %}

{% macro new_folder(parentId) %}
    <li>
        <div class="ui-state-unsortable">
            <a
                class="ajax-new"
                href="#"
                data-url="{{ path('open_orchestra_media_admin_folder_new', {'parentId': parentId}) }}"
                data-type="folder"
            >
                <i class="fa fa-file"></i>
                {{ 'open_orchestra_media_admin.left_menu.tree.new_media_folder'|trans }}
            </a>
        </div>
    </li>
{% endmacro %}
