<div class="col-sm-2">
    <select class="form-control value-holder" data-role-name="<%= role.name %>">
        <% if (document.parent_id != '-') { %>
            <option value="{{ constant('OpenOrchestra\\BackofficeBundle\\Model\\GroupRoleInterface::ACCESS_INHERIT') }}">
                {{ 'open_orchestra_backoffice.form.group.access_inherit'|trans }}
            </option>
        <% } %>
        <option value="{{ constant('OpenOrchestra\\BackofficeBundle\\Model\\GroupRoleInterface::ACCESS_GRANTED') }}">
            {{ 'open_orchestra_backoffice.form.group.access_granted'|trans }}
        </option>
        <option value="{{ constant('OpenOrchestra\\BackofficeBundle\\Model\\GroupRoleInterface::ACCESS_DENIED') }}">
            {{ 'open_orchestra_backoffice.form.group.access_denied'|trans }}
        </option>
    </select>
</div>
