{{ display_icon('content_list') }}

{% if contentType is defined %}
    <p>
        Content Type: <i>{{ contentType }}</i>
    </p>
{% endif %}
{% if keywords is defined %}
    <p>
        Content Keyword: <i>{{ keywords }}</i>
    </p>
{% endif %}

<p>
    id : <i>{{ id }}</i><br />
    class : <i>{{ class }}</i><br />
    url: <i>{{ url }}</i>
    Number of charactere before truncate: <i>{{ characterNumber }}</i>
</p>
