{{ display_icon('content_list') }}

{% if contentType is defined %}
    <p>Content Type: <i>{{ contentType }}</i></p>
{% endif %}
<p>ChoiceType: <i>{{ choiceType }}</i></p>
{% if keywords is defined %}
    <p>Content Keyword: <i>{{ keywords }}</i></p>
{% endif %}
<p>id : <i>{{ id }}</i></p>
<p>class : <i>{{ class }}</i></p>
<p>Node: <i>{{ contentNodeId }}</i></p>
<p>Number of charactere before truncate: <i>{{ characterNumber }}</i></p>
<p>Content template enabled : <i>{{ contentTemplateEnabled }}</i></p>
