{% if contentType is defined %}
    {{ display_icon('content_list_by_type') }}

    <p>
        Content Type: <i>{{ contentType }}</i>
    </p>
{% elseif keywords is defined %}
    {{ display_icon('content_list_by_keyword') }}

    <p>
        Content Keyword: <i>{{ keywords }}</i>
    </p>
{% endif %}

<p>
    id : <i>{{ id }}</i><br />
    class : <i>{{ class }}</i><br />
    url: <i>{{ url }}</i>
    Number of charactere before truncate: <i>{{ characterNumber }}</i>
</p>
