<!-- multiple lang dropdown : find all flags in the flags page -->
<ul class="header-dropdown-list hidden-xs">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- img src="img/blank.gif" class="flag flag-us" alt="United States" -->
            <img
                alt="{{ 'php_orchestra_cms.top_menu.language_flag_%language%'|trans({'language':context.currentLocale}, 'backOffice') }}"
                src="{{ asset('bundles/phporchestracms/img/flags/' ~ context.currentLocale ~ '.png') }}"
                >
            <span> {{ context.currentLocale|upper }} </span> <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            {% for language in available_languages %}
            <li{% if context.currentLocale == language %} class="active"{% endif %}>
                <a href="javascript:callAndReload('{{ path('php_orchestra_api_context_language', {'language':language}) }}');">
                    <img
                            alt="{{ 'php_orchestra_cms.top_menu.language_flag_%language%'|trans({'language':language}, 'backOffice') }}"
                            src="{{ asset('bundles/phporchestracms/img/flags/' ~ language ~ '.png') }}">
                    {{ ('php_orchestra_backoffice.language.' ~ language)|trans }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<!-- end multiple lang -->
