<!-- multiple lang dropdown : find all flags in the flags page -->
<ul class="header-dropdown-list hidden-xs">
    <li>
        {% set currentLocale = (context.currentLocale is null) ? context.defaultLocale : context.currentLocale%}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img
                src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/blank.gif') }}"
                class="flag flag-{{ currentLocale }}"
                alt="{{ ('open_orchestra_backoffice.language.' ~ currentLocale)|trans }}"
            >
            <span> {{ ('open_orchestra_backoffice.language.' ~ currentLocale)|trans }} ({{ currentLocale|capitalize }})</span> <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            {% for language in administration_languages %}
            <li{% if currentLocale == language %} class="active"{% endif %}>
                <a
                        class="configuration-change"
                        data-url="{{ path('homepage_with_site_id_and_language', {'siteId': context.currentSiteId, 'language': language}) }}">
                    <img
                        src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/blank.gif') }}"
                        class="flag flag-{{ language }}"
                        alt="{{ ('open_orchestra_backoffice.language.' ~ language)|trans }}"
                    >
                    {{ ('open_orchestra_backoffice.language.' ~ language)|trans }} ({{ language|capitalize }})
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<!-- end multiple lang -->
