<!-- multiple lang dropdown : find all flags in the flags page -->
<ul class="header-dropdown-list hidden-xs">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img
                src="{{ asset('bundles/phporchestrabackoffice/smartadmin/img/blank.gif') }}"
                class="flag flag-{{ context.currentLocale }}"
                alt="{{ ('open_orchestra_backoffice.language.' ~ context.currentLocale)|trans }}"
            >
            <span> {{ ('open_orchestra_backoffice.language.' ~ context.currentLocale)|trans }} ({{ context.currentLocale|capitalize }})</span> <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            {% for language in available_languages %}
            <li{% if context.currentLocale == language %} class="active"{% endif %}>
                <a href="javascript:callAndReload('{{ path('open_orchestra_api_context_language', {'language':language}) }}');">
                    <img
                        src="{{ asset('bundles/phporchestrabackoffice/smartadmin/img/blank.gif') }}"
                        class="flag flag-{{ language }}"
                        alt="{{ ('open_orchestra_backoffice.language.' ~ language)|trans }}"
                    >
                    {{ ('open_orchestra_backoffice.language.' ~ language)|trans }} ({{ language|capitalize }})
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<!-- end multiple lang -->
