<script type="text/html" id="headInclude">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i id="title-logo" />
                <span id="title-universe" />
                <span id="title-functionnality"/>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="widget-grid">

        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <div id="wid-id-1"
                    class="jarviswidget jarviswidget-color-blueDark"
                    data-widget-deletebutton="false"
                    data-widget-togglebutton="false"
                    data-widget-editbutton="false"
                    data-widget-sortable="false"
                >

                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->

                    <header>
                        <span class="js-widget-title display-inline"></span>
                        <div class="widget-toolbar js-widget-panel" style="display: none"></div>
                        <div class="widget-toolbar js-widget-edit" style="display: none"></div>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>*Title:*</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <!-- content goes here -->
</script>

<script type="text/html" id="footerInclude">
                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->
</script>

<script type="text/html" id="nodeTitle">
    <b class="page_status_title"><%= node.get('status').label %></b>
    <%= node.get('name') %>
    ({{ 'php_orchestra_backoffice.node.version.display' | trans }} : #<%= node.get('version') %>)
    {{ 'php_orchestra_backoffice.node.last_update.at'| trans }}
    <%= node.get('updated_at') %>
    {{ 'php_orchestra_backoffice.node.last_update.by'| trans }}
    <%= node.get('updated_by') %>
</script>

<script type="text/html" id="nodeChoice">
    <option class="version-select-<%= cid %>" value="<%= node.get('version') %>" <% if (node.get('version') == version) { %>selected="selected"<% } %>>
        <%= title %>
    </option>
</script>

<script type="text/html" id="nodeView">
    <a href="#" class="ajax-node-duplicate-<%= node.cid %>">{{ ('php_orchestra_backoffice.node.version.create') | trans }}</a>
    <% include headInclude %>
    <div id="additionalContent" style="margin-bottom: 15px">
        <select id="selectbox"></select>
    </div>
    <div id="generated-title" style="display: none">
        <%= title %>
    </div>
    <div id="generated-panel" style="display: none">
        <div class="blocks-panel">
            <span class="blocks-panel-setting">
                <i class="fa fa-arrow-circle-left"></i>
            </span>
            <h2>Blocks</h2>
            <div class="ui-model scroll padding-10 panel-shadow">
                <ul class="ui-model-blocks">
                    {{ render(controller('PHPOrchestraBackofficeBundle:Block:listPossibleBlocks')) }}
                    {{ render(controller('PHPOrchestraBackofficeBundle:Block:listExistingBlocks')) }}
                </ul>
            </div>
        </div>
    </div>
    <div role="container">
        <div class="ui-model">
            <span class="title"></span>
            <span class="preview"></span>
                <span class="action">
                    <i class="fa fa-cog <%= node.cid %>"></i>
                </span>
            <ul class="ui-model-areas">
            </ul>
        </div>
    </div>
    <% include footerInclude %>
</script>

<script type="text/html" id="templateView">
    <% include headInclude %>
    <div id="generated-title" style="display: none">
        <%= template.get('name') %>
    </div>
    <div id="generated-tools" style="display: none">
        <div class="blocks-panel">
            <span class="blocks-panel-setting">
                <i class="fa fa-arrow-circle-left"></i>
            </span>
            <h2>Blocks</h2>
            <div class="ui-model scroll padding-10  panel-shadow">
                <ul class="ui-model-blocks">
                    {{ render(controller('PHPOrchestraBackofficeBundle:Block:listExistingBlocks')) }}
                </ul>
            </div>
        </div>
    </div>
    <div role="container">
        <div class="ui-model">
            <span class="title"></span>
            <span class="preview"></span>
                <span class="action">
                    <i class="fa fa-cog <%= template.cid %>"></i>
                </span>
            <ul class="ui-model-areas">
            </ul>
        </div>
    </div>
    <% include footerInclude %>
</script>

<script type="text/html" id="areaView">
    <div>
        <span class="title">
            <%= area.get('ui_model').label %>
            <% if (area.get('ui_model').id) { %>
                id="<%= area.get('ui_model').id %>"
            <% } %>
            <% if (area.get('ui_model').class) { %>
                class="<%= area.get('ui_model').class %>"
            <% } %>
        </span>
        <span class="preview"></span>
            <span class="action">
                <i class="fa fa-wrench area-param-<%= area.cid %>"></i>
                <i class="fa fa-trash-o area-remove-<%= area.cid %>"></i>
            </span>
        <ul class="ui-model-areas areas-<%= cid %>">
        </ul>
        <ul class="ui-model-blocks blocks-<%= cid %> resizable-<%= cid %>">
        </ul>
    </div>
</script>

<script type="text/html" id="blockView">
    <div class="<%= block.get('method') %>" data-node-id="<%= block.get('node_id') %>" data-block-id="<%= block.get('block_id') %>">
        <span class="title"><%= block.get('ui_model').label %></span>
        <div class="preview scroll block-param">
            <%= block.get('ui_model').html %>
        </div>
        <span class="action">
            <i class="block-remove fa fa-trash-o"></i>
        </span>
    </div>
</script>

<script type="text/html" id="tableviewCollectionView">
    <% include headInclude %>
    <div role="container">
        <table id="tableviewCollectionTable">
            <thead>
                <tr>
                    <% _.each(displayedElements, function(displayedElement) { %>
                        <td><%= displayedElement %></td>
                    <% }); %>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <% if (typeof links._self_add !== 'undefined' ) { %>
            <div>
                <a href="<%= links._self_add %>" data-url="<%= links._self_add %>" class="ajax-add-<%= cid %>">{{ 'php_orchestra_backoffice.form.add'|trans }}</a>
            </div>
        <% } %>
    </div>
    <% include footerInclude %>
</script>

<script type="text/html" id="tableviewView">
    <td><%= value %></td>
</script>

<script type="text/html" id="tableviewActions">
    <td>
        <% if (typeof actions.form !== 'undefined' && typeof links._self_form !== 'undefined') { %>
            <a href="#" class="ajax-edit">{{ 'php_orchestra_backoffice.form.edit'|trans }}</a>
        <% } %>
        <% if (typeof actions.delete !== 'undefined' && typeof links._self_delete !== 'undefined' ) { %>
            <a href="#" class="ajax-delete">{{ 'php_orchestra_backoffice.form.delete'|trans }}</a>
        <% } %>
        <% if (typeof actions.select !== 'undefined' && typeof links._self_select !== 'undefined' ) { %>
            <a href="<%= links._self_select %>" class="ajax-select">{{ 'php_orchestra_backoffice.form.select'|trans }}</a>
        <% } %>
    </td>
</script>

<script type="text/html" id="fullPageFormView">
    <% include headInclude %>
    <div role="container">
        <%= html %>
        <a
            href="#<%= listUrl %>"
            class="btn btn-primary pull-right back-to-list">
            Back to list
        </a>
    </div>
    <% include footerInclude %>
</script>

<script type="text/html" id="galleryCollectionView">
    <% include headInclude %>
    <div role="container">
        <div class="superbox col-sm-12">
        </div>
    </div>
    <% if (typeof links._self_add !== 'undefined' ) { %>
        <div>
            <a href="<%= links._self_add %>" data-url="<%= links._self_add %>" class="ajax-add-<%= cid %>">{{ 'php_orchestra_backoffice.form.add'|trans }}</a>
        </div>
    <% } %>
    <% if (typeof links._self_folder !== 'undefined' ) { %>
        <div id="generated-edit" style="display: none">
            <i class="fa fa-edit ajax-folder-<%= cid %>"></i>
        </div>
    <% } %>
    <% include footerInclude %>
</script>

<script type="text/html" id="galleryView">
    <% if (media.get('displayed_image') != 'undefined') { %>
        <img src="<%= media.get('displayed_image') %>" class="superbox-img selectable" data-id="<%= media.get('id') %>" title="<%= media.get('name') %>" height="117px"/>
    <% } else if (media.get('mime_type') == 'image/png') { %>
        {% image '@PHPOrchestraBackofficeBundle/Resources/public/images/mediatheque/ico-image.png' %}
            <img src="{{ asset_url }}" class="superbox-img selectable" data-id="<%= media.get('id') %>" title="<%= media.get('name') %>"/>
        {% endimage %}
    <% } else if (media.get('mime_type') == 'image/jpg') { %>
        {% image '@PHPOrchestraBackofficeBundle/Resources/public/images/mediatheque/ico-image.png' %}
            <img src="{{ asset_url }}" class="superbox-img selectable" data-id="<%= media.get('id') %>" title="<%= media.get('name') %>"/>
        {% endimage %}
    <% } else if (media.get('mime_type') == 'image/jpeg') { %>
        {% image '@PHPOrchestraBackofficeBundle/Resources/public/images/mediatheque/ico-image.png' %}
            <img src="{{ asset_url }}" class="superbox-img selectable" data-id="<%= media.get('id') %>" title="<%= media.get('name') %>"/>
        {% endimage %}
    <% } else if (media.get('mime_type') == 'application/pdf') { %>
        {% image '@PHPOrchestraBackofficeBundle/Resources/public/images/mediatheque/ico-pdf.png' %}
            <img src="{{ asset_url }}" class="superbox-img selectable" data-id="<%= media.get('id') %>" title="<%= media.get('name') %>"/>
        {% endimage %}
    <% } else { %>
        {% image '@PHPOrchestraBackofficeBundle/Resources/public/images/mediatheque/ico-content.png' %}
            <img src="{{ asset_url }}" class="superbox-img selectable" data-id="<%= media.get('id') %>" title="<%= media.get('name') %>"/>
        {% endimage %}
    <% } %>
</script>

<script type="text/html" id="deleteButton">
    <button class="ajax-delete btn btn-labeled btn-danger">
        <span class="btn-label">
            <i class="glyphicon glyphicon-trash"></i>
        </span>
        Delete
    </button>
</script>
