{% block orchestra_media_widget %}
    {% spaceless %}
        {% set type = 'hidden' %}
        {{ block('form_widget') }}&nbsp;
        <div class="btn">
            <a class="btn btn-default mediaModalOpen"
                data-target="{{ id }}_modal"
                data-input="{{ id }}"
                data-url="{{ path('open_orchestra_media_admin_media_list_form') }}">
                <i class="fa fa-folder-open-o"></i> {{ 'open_orchestra_media_admin.left_menu.editorial.media'|trans({'language':context.currentLocale}) }}
            </a><br />
            <button class="btn btn-warning clear-media" data-input="{{ id }}">
                Delete
            </button>
        </div>
        &nbsp;
        {% set src= media_preview(value) %}
        <img height="100px" {% if src != '' %}src="{{ src }}"{% endif %} id="previewImage_{{ id }}" class="previewImage" />
        <div id="{{ id }}_modal"></div>
    {% endspaceless %}
{% endblock %}

{% block tinymce_widget %}
    {{ block('textarea_widget') }}
  <script>
      function tinymce_button_mediamanager(){};
  </script>
  <div id="{{ id }}_modal" class="select_media_modal" data-url="{{ path('open_orchestra_media_admin_media_list_form') }}" ></div>
{% endblock %}
