{% block oo_group_list_widget %}
	{% set collection = form|first %}
    {% spaceless %}
        <div class="user-groups-list">
            <div class="form-group">
                <div class="col-xs-12">
                    <button class="open-groups-list btn btn-border glyphicon glyphicon-plus" type="button">{{ 'open_orchestra_backoffice.form.add'|trans }}</button>
                </div>
            </div>
            <table class="table table-striped">
                <tbody>
            {% for child in collection %}
                {{ form_widget(child) }}
            {% endfor %}
                </tbody>
            </table>
            <div class="prototype hidden" data-prototype="{{ form_widget(collection.vars.prototype)|e('html') }}"></div>
        </div>
    {% endspaceless %}
{% endblock oo_group_list_widget %}

{% block oo_group_element_widget %}
    <tr {{ (form.vars.parameters['deleted'] ) ? 'class="hide"' : '' }}>
        <td><div class="hide">{{ form_widget(form) }}</div>{{ form.vars.parameters['groupName'] }}</td>
        <td>{{ form.vars.parameters['siteName'] }}</td>
        <td>{% if form.vars.parameters['disabled'] %}&nbsp;{%  else %}<i class="fa fa-trash" aria-hidden="true"></i>{% endif %}</td>
    </tr>
{% endblock oo_group_element_widget %}

{% block oo_group_role_widget %}
    {% spaceless %}
        {% set collection = form|first %}
        <div class="hierarchical-check-list">
            {% for fieldset, tables in form.vars.configuration %}
                <fieldset>
                    <legend class="underline-label">{{ fieldset|trans }}</legend>
                    {% for table in tables %}
                        {{ form_widget(collection[table]) }}
                    {% endfor %}
                </fieldset>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock oo_group_role_widget %}
