{% block oo_group_list_widget %}
    {% spaceless %}
        <div class="user-groups-list">
            <table class="table table-striped">
                <tbody>
            {% for child in form['groups_collection'] %}
                {{ form_widget(child) }}
            {% endfor %}
                </tbody>
            </table>
            <div class="prototype hidden" data-prototype="{{ form_widget(form['groups_collection'].vars.prototype)|e('html') }}"></div>
            <div>
                <button class="open-groups-list btn btn-primary" type="button">{{ 'open_orchestra_backoffice.form.add'|trans }}</button>
            </div>
        </div>
    {% endspaceless %}
{% endblock oo_group_list_widget %}

{% block oo_group_element_widget %}
    <tr {{ (form.vars.parameters['deleted'] ) ? 'class="hide"' : '' }}>
        <td><div class="hide">{{ form_widget(form) }}</div>{{ form.vars.parameters['groupName'] }}</td>
        <td>{{ form.vars.parameters['siteName'] }}</td>
        <td>{% if form.vars.parameters['disabled'] %}&nbsp;{%  else %}<i class="fa fa-close" aria-hidden="true"></i>{% endif %}</td>
    </tr>
{% endblock oo_group_element_widget %}
