{% block oo_authorization_widget %}
    {% spaceless %}
        {{ form_widget(form.workflowFunctions) }}
    {% endspaceless %}
{% endblock oo_authorization_widget %}

{% block oo_workflow_function_choice_widget %}
    {% spaceless %}
        {% for child in form %}
            <td>
               {{ form_widget(child) }}
            </td>
        {% endfor %}
    {% endspaceless %}
{% endblock oo_workflow_function_choice_widget %}

{% block _oo_status_properties_row %}
    {% spaceless %}
        {% if(form.parent.vars.value.id is not null) %}
            {{ block('form_row') }}
        {% endif %}
    {% endspaceless %}
{% endblock _oo_status_properties_row %}

{% block _oo_status_properties_widget %}
    {% spaceless %}
        {% set properties = [] %}
        {% for property in form.parent.vars.properties %}
            {% set properties = properties | merge([property | trans]) %}
        {% endfor %}
        {% set value = properties | join(', ') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock _oo_status_properties_widget %}

{% block oo_workflow_parameters_widget %}
    {% spaceless %}
        {{ block('global_form_errors') }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    {% for label in form.vars.value.labels %}
                        <th class="workflow-cell-parameter">{{ label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
        {% for child in form.statuses %}
            <tr>
               {{ form_widget(child) }}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock oo_workflow_parameters_widget %}

{% block oo_workflow_status_parameters_widget %}
    {% spaceless %}
        <td>{{ form.vars.value.getLabel(context.currentLocale) }}</td>
        {% for child in form %}
            <td class="workflow-cell-parameter">
                <input type="radio"
                    id="{{ child.vars.id }}"
                    name="{{ child.vars.full_name }}"
                    value="{{ child.vars.value }}"
                    {% if (child.vars.checked) %} checked="checked"{% endif %}
                    data-group="{{ child.vars.name }}"
                >
                <label for="{{ child.vars.id }}"></label>
            </td>
        {% endfor %}
    {% endspaceless %}
{% endblock oo_workflow_status_parameters_widget %}

{% block oo_workflow_transitions_widget %}
    {% spaceless %}
        {{ block('global_form_errors') }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'open_orchestra_workflow_admin.form.transitions.profiles'|trans() }}</th>
                    {% for label in form.vars.statuses %}
                        <th>
                            {{ 'open_orchestra_workflow_admin.form.transitions.from_to'|trans({'%status%': label}) }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for profile in form.children %}
                <tr>
                    {{ form_widget(profile) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock oo_workflow_transitions_widget %}

{% block oo_workflow_profile_transitions_widget %}
    {% spaceless %}
        {% set profile = form.vars.value %}
        <td>
            {{ profile.getLabel(context.currentLocale) }}
            {{ form_widget(form.children.transitions) }}
        </td>
    {% endspaceless %}
{% endblock oo_workflow_profile_transitions_widget %}

{% block oo_workflow_transitions_collection_widget %}
    {% set fromStatusId = '' %}
    {% for transition in form.children %}
        {% set currentTransition = transition.vars.value|split('-') %}
        {% if (currentTransition[0] != fromStatusId) %}
            {% set fromStatusId = currentTransition[0] %}
            </td>
            <td>
        {% endif %}
        <input type="checkbox"
            id="{{ transition.vars.id }}"
            name="{{ transition.vars.full_name }}"
            value="{{ transition.vars.value }}"
            {% if (transition.vars.checked) %} checked="checked"{% endif %}
            {% if (currentTransition[0] == currentTransition[1]) %} disabled="disabled"{% endif %}
        >
        <label for="{{ transition.vars.id }}">
            {{ form.vars.statuses[currentTransition[1]] }}
        </label><br />
    {% endfor %}
{% endblock oo_workflow_transitions_collection_widget %}
