{% block oo_workflow_profile_submit_widget %}
    {% spaceless %}
        {{ block('submit_widget') }}
        {% if(form.vars.value.id is null) %}
            {% set label = 'open_orchestra_backoffice.form.submit_continue' %}
            {% set id = 'submit_' ~ form.vars.name %}
            {% set attr = {'class': 'submit-continue-form'} %}
            {% set button_class= 'primary' %}
            {{ block('button_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock oo_workflow_profile_submit_widget %}

{% block oo_workflow_right_widget %}
    {% spaceless %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped workflow-right-widget">
                {% if form.authorizations is defined and form.authorizations|length > 0 and form.authorizations[0].workflowFunctions is defined %}
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        {{ form.authorizations[0].workflowFunctions.vars.label }}
                        {% for child in form.authorizations[0].workflowFunctions %}
                            <th>{{ child.vars.label }}</th>
                        {% endfor %}
                        <th>{{ 'open_orchestra_workflow_admin.right.owner'|trans({}, translation_domain)|raw }}</th>
                    </tr>
                </thead>
                {% endif %}
                <tbody>
                {% for child in form.authorizations %}
                    <tr>
                        <td>
                            {% if child.vars.label is iterable %}
                                {{ child.vars.label| multi_languages_choose}}
                            {% else %}
                                {{ child.vars.label |trans({}, translation_domain)|raw }}
                            {% endif %}

                            {{ form_widget(child.referenceId) }}
                        </td>
                        {{ form_widget(child.workflowFunctions) }}
                        <td>
                            {{ form_widget(child.owner) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock oo_workflow_right_widget %}

{% block oo_authorization_widget %}
    {% spaceless %}
        {{ form_widget(form.workflowFunctions) }}
    {% endspaceless %}
{% endblock oo_authorization_widget %}

{% block oo_workflow_function_choice_widget %}
    {% spaceless %}
        {% for child in form %}
            <td>
               {{ form_widget(child) }}
            </td>
        {% endfor %}
    {% endspaceless %}
{% endblock oo_workflow_function_choice_widget %}

{% block _oo_status_properties_row %}
    {% spaceless %}
        {% if(form.parent.vars.value.id is not null) %}
            {{ block('form_row') }}
        {% endif %}
    {% endspaceless %}
{% endblock _oo_status_properties_row %}

{% block _oo_status_properties_widget %}
    {% spaceless %}
        {% set properties = [] %}
        {% for property in form.parent.vars.properties %}
            {% set properties = properties | merge([property | trans]) %}
        {% endfor %}
        {% set value = properties | join(', ') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock _oo_status_properties_widget %}

{% block oo_status_submit_widget %}
    {% spaceless %}
        {{ block('submit_widget') }}
        {% if(form.vars.value.id is null) %}
            {% set label = 'open_orchestra_backoffice.form.submit_continue' %}
            {% set id = 'submit_' ~ form.vars.name %}
            {% set attr = {'class': 'submit-continue-form'} %}
            {% set button_class= 'primary' %}
            {{ block('button_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock oo_status_submit_widget %}

{% block oo_workflow_parameters_widget %}
    {% spaceless %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    {% for label in form.vars.value.labels %}
                        <th class="workflow-cell-parameter">{{ label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
        {% for child in form.statuses %}
            <tr>
               {{ form_widget(child) }}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock oo_workflow_parameters_widget %}

{% block oo_workflow_status_parameters_widget %}
    {% spaceless %}
        <td>{{ form.vars.value.getLabel(context.currentLocale) }}</td>
        {% for child in form %}
            <td class="workflow-cell-parameter">
                <input type="radio"
                    id="{{ child.vars.id }}"
                    name="{{ child.vars.full_name }}"
                    value="{{ child.vars.value }}"
                    {% if (child.vars.checked) %} checked="checked"{% endif %}
                    data-group="{{ child.vars.name }}"
                >
                <label for="{{ child.vars.id }}"></label>
            </td>
        {% endfor %}
    {% endspaceless %}
{% endblock oo_workflow_status_parameters_widget %}
