{% if not nodeTransverse is null %}
    <li data-element-id="{{ nodeTransverse.nodeId }}"
        data-type="Node"
    >
        <a
            id="nav-node-{{ nodeTransverse.nodeId }}"
            data-url="{{ path('open_orchestra_api_node_show_or_create', {'nodeId': nodeTransverse.nodeId}) }}"
            data-node="{{ nodeTransverse.nodeId }}"
            href="#node/show/{{ nodeTransverse.nodeId }}"
        >
            <span>{{ nodeTransverse.name }}</span>
        </a>
    </li>
{% endif %}
