<a
        href="#trashcan/list"
        id="nav-trashcan"
        data-url="{{ path('open_orchestra_api_trashcan_list') }}"
        data-displayed-elements="name,deleted_at"
        data-visible-elements="name,deleted_at"
        data-translated-header="{{'open_orchestra_backoffice.table.trashcan.name'|trans }},{{'open_orchestra_backoffice.table.trashcan.deleted_at'|trans }}"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.trashcan.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.trashcan.list'|trans }}
</a>
