<!-- NAVIGATION : This navigation is also responsive-->
<nav data-url="{{ path('php_orchestra_backoffice_menu') }}">
    <ul>
        <li>
            <a href="#" title="{{ 'php_orchestra_backoffice.left_menu.editorial.title'|trans }}">
                <i class="fa fa-lg fa-fw fa-edit"></i>
                <span class="menu-item-parent">{{ 'php_orchestra_backoffice.left_menu.editorial.title'|trans }}</span>
            </a>
            <ul>
                {{ render(controller('PHPOrchestraBackofficeBundle:Tree:showGeneralTreeNodes')) }}
                {{ render(controller('PHPOrchestraBackofficeBundle:Tree:showTreeNodes')) }}
                {{ render(controller('PHPOrchestraBackofficeBundle:Tree:showTreeTemplates')) }}
                {{ render(controller('PHPOrchestraBackofficeBundle:Tree:showContentTypeForContent')) }}
                {{ render(controller('PHPOrchestraBackofficeBundle:Tree:showFolderTree')) }}
            </ul>
        </li>
        <li>
            <a href="#" title="{{ 'php_orchestra_backoffice.left_menu.administration.title'|trans }}">
                <i class="fa fa-lg fa-fw fa-desktop"></i>
                <span class="menu-item-parent">
                    {{ 'php_orchestra_backoffice.left_menu.administration.title'|trans }}
                </span>
            </a>
            <ul>
                <li>
                    <a
                        href="#websites/list"
                        id="nav-websites"
                        data-url="{{ path('php_orchestra_api_site_list') }}"
                        data-displayed-elements="site_id, domain, alias, default_language"
                        title="{{ 'php_orchestra_backoffice.left_menu.administration.sites.list'|trans }}"
                    >
                        {{ 'php_orchestra_backoffice.left_menu.administration.sites.list'|trans }}
                    </a>
                </li>
                <li>
                    <a
                        href="#themes/list"
                        id="nav-themes"
                        data-url="{{ path('php_orchestra_api_theme_list') }}"
                        data-displayed-elements="name"
                        title="{{ 'php_orchestra_backoffice.left_menu.administration.themes.list'|trans }}"
                    >
                        {{ 'php_orchestra_backoffice.left_menu.administration.themes.list'|trans }}
                    </a>
                </li>
                <li>
                    <a
                        href="#content-types/list"
                        id="nav-contentTypes"
                        data-url="{{ path('php_orchestra_api_content_type_list') }}"
                        data-displayed-elements="content_type_id, name, version, status_label"
                        title="{{ 'php_orchestra_backoffice.left_menu.administration.content_type.list'|trans }}"
                    >
                        {{ 'php_orchestra_backoffice.left_menu.administration.content_type.list'|trans }}
                    </a>
                </li>
                <li>
                    <a
                        href="#tags/list"
                        id="nav-tags"
                        data-url="{{ path('php_orchestra_api_tag_list') }}"
                        data-displayed-elements="label"
                        title="{{ 'php_orchestra_backoffice.left_menu.administration.tag.list'|trans }}"
                    >
                        {{ 'php_orchestra_backoffice.left_menu.administration.tag.list'|trans }}
                    </a>
                </li>
                <li>
                    <a
                        href="#status/list"
                        id="nav-status"
                        data-url="{{ path('php_orchestra_api_status_list') }}"
                        data-displayed-elements="label, published, to_role, from_role, display_color, initial"
                        title="{{ 'php_orchestra_backoffice.left_menu.administration.status.list'|trans }}"
                    >
                        {{ 'php_orchestra_backoffice.left_menu.administration.status.list'|trans }}
                    </a>
                </li>
                <li>
                    <a
                        href="#role/list"
                        id="nav-role"
                        data-url="{{ path('php_orchestra_api_role_list') }}"
                        data-displayed-elements="name, from_status, to_status"
                        title="{{ 'php_orchestra_backoffice.left_menu.administration.role.list'|trans }}"
                    >
                        {{ 'php_orchestra_backoffice.left_menu.administration.role.list'|trans }}
                    </a>
                </li>
                <li>
                    <a
                        href="#user/list"
                        id="nav-user"
                        data-url="{{ path('php_orchestra_api_user_list') }}"
                        data-displayed-elements="username, roles"
                        title="{{ 'php_orchestra_backoffice.left_menu.administration.user.list'|trans }}"
                    >
                        {{ 'php_orchestra_backoffice.left_menu.administration.user.list'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
