<nav data-url="{{ path('open_orchestra_backoffice_menu') }}">
    <ul>
        <li>
            <a href="#dashboard" title="{{ ('open_orchestra_backoffice.left_menu.dashboard.title')|trans }}">
                <i class="fa fa-lg fa-fw fa-home"></i>
                <span class="menu-item-parent">{{ ('open_orchestra_backoffice.left_menu.dashboard.title')|trans }}</span>
            </a>
        </li>
        {% for sectionName, section in strategies %}
            <li>
                <a href="#" title="{{ ('open_orchestra_backoffice.left_menu.' ~ sectionName ~ '.title')|trans }}">
                    <i class="fa fa-lg fa-fw {{ ('open_orchestra_backoffice.left_menu.' ~ sectionName ~ '.icon')|trans }}"></i>
                    <span class="menu-item-parent">{{ ('open_orchestra_backoffice.left_menu.' ~ sectionName ~ '.title')|trans }}</span>
                </a>
                <ul>
                    {% for weight in section %}
                        {% for element in weight %}
                            <li>
                                {{ element.show|raw }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>
